<p id="notice"><%= notice %></p>

<p>
  <strong>Montobs:</strong>
  <%= @avaluo_donativo.montoBs %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @avaluo_donativo.observacion %>
</p>

<%= link_to 'Edit', edit_avaluo_donativo_path(@avaluo_donativo) %> |
<%= link_to 'Back', avaluo_donativos_path %>
