<%= form_for(@produccion) do |f| %>
  <% if @produccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produccion.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @produccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :producto %>
    <%= f.collection_select(:product_id, Product.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :cantidad, 'Cantidad *'%> &nbsp;&nbsp;
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :fecha_produccion, 'Fecha de Produccion *' %><br>
    <%= f.date_select :fecha_produccion %>
  </div>
  <div class="field" id="vencimiento-div" style="display: none;">
    <%= f.label :fecha_vencimiento, 'Fecha de Vencimiento *'  %><br>
    <%= f.date_select :fecha_vencimiento %>
  </div><br><br>
  <div>
    <label>* Los campos con asterisco, son obligatorios. </label>
  </div><br><br>
  <div class="actions">
    <%= f.submit (@produccion.new_record? ? 'Registrar Produccion' : 'Editar Produccion') , :class => "btn btn-mini btn-success" %>
  </div>
<% end %>





<script>
$( "#produccion_vencido" ).change(function() {
  var optionSelected = $(this).find("option:selected");
     var valueSelected  = optionSelected.val();
     var textSelected   = optionSelected.text();
  if(textSelected=="Collar" || textSelected=="Manilla"||textSelected=="Anillo")
    document.getElementById("vencimiento-div").style.display="block";
  else
    document.getElementById("vencimiento-div").style.display="none";

   
});

</script>
