<h1>Lista de Producciones</h1>

  <div align="right">
    <%= form_tag({:controller => "produccions", :action => "index"}, :method => :get) do %>
      Buscar Producto: &nbsp;&nbsp;&nbsp; <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Nombre de producto", :name => 'palabra' %> &nbsp;&nbsp;&nbsp;
      <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
  </div>
  <br>
  <div align="right">
    <%= form_tag({:controller => "produccions", :action => "index"}, :method => :get) do %>
      Fecha Inicio: <%= date_field "search", params[:search], :name => 'fecha_inicio' %>
      Fecha Fin: <%= date_field "search", params[:search], :name => 'fecha_fin' %>
      <%= submit_tag "Buscar Producción Entre Fechas", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
  </div><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Producto</th>
      <th>Fecha de Producción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produccions.each do |produccion| %>
      <tr>
        <td><%= produccion.cantidad %></td>
        <td><%= Product.find(produccion.product_id.to_i).name %></td>
        <td><%= produccion.fecha_produccion.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Ver Produccion', produccion, :class => 'btn btn-mini btn-info active' %></td>
        <td><%= link_to 'Editar Produccion', edit_produccion_path(produccion), :class => 'btn btn-mini btn-warning active' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Produccion', new_produccion_path,:class => 'btn btn-mini btn-success active' %>
