<h1>Lista de Producciones</h1>

  <div align="right">
    <%= form_tag({:controller => "produccions", :action => "index"}, :method => :get) do %>
      Buscar Producto: &nbsp;&nbsp;&nbsp; <%= select_tag "producto", options_from_collection_for_select(Product.all, :id, :name), :placeholder => "Nombre de producto" %> &nbsp;&nbsp;&nbsp;
      <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
  </div>
  <br>
  <div align="right">
    <%= form_tag({:controller => "produccions", :action => "index"}, :method => :get) do %>
      Fecha Inicio: <%= text_field_tag "search", params[:search], :name => 'fecha_inicio', :placeholder => "dia/mes/a침o", :class => 'datepicker' %>
      Fecha Fin: <%= text_field_tag "search", params[:search], :name => 'fecha_fin', :placeholder => "dia/mes/a침o", :class => 'datepicker' %>
      <%= submit_tag "Buscar Producci칩n Entre Fechas", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
  </div><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Producto</th>
      <th>Fecha de Producci칩n</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produccions.each do |produccion| %>
      <tr>
        <td><%= produccion.cantidad %></td>
        <td><%= Product.find(produccion.product_id.to_i).name %></td>
        <td><%= produccion.fecha_produccion.strftime("%d/%b/%Y") %></td>
        <td><%= link_to 'Ver Produccion', produccion, :class => 'btn btn-mini btn-info active' %></td>
        <td><%= link_to 'Editar Produccion', edit_produccion_path(produccion), :class => 'btn btn-mini btn-warning active' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('.datepicker').datepicker({
    weekStart:1,
  }).on('changeDate', function(e){
    $(this).datepicker('hide');
  });
</script>

<br>

<%= link_to 'Registrar Produccion', new_produccion_path,:class => 'btn btn-mini btn-success active' %>
