<center>
	<p id="notice"><%= notice %></p><br><br>
	<div align="right"><%= link_to 'Producciones', produccions_path, :class => 'btn btn-mini btn-default' %></div><br>
	<div class="jumbotron">
		<p>
		  <strong>Producto:</strong>
		  <%= @produccion.product.name %>
		</p>

		<p>
			<strong>Cantidad:</strong>
			<%= @produccion.cantidad %>
		</p>

		<p>
			<strong>Unidad:</strong>
			<%= @produccion.product.unity %>
		</p>

		<p>
		  <strong>Fecha de Produccion:</strong>
		  <%= @produccion.fecha_produccion.strftime("%d/%m/%Y") %>
		</p>

		<% if @produccion.fecha_vencimiento != nil %>
			<p>
		  		<strong>Fecha de Vencimiento:</strong>
			  	<%= @produccion.fecha_vencimiento.strftime("%d/%m/%Y") %>
			</p>
		<%end%>
	</div>
</center>
