	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Producto:</strong>
	  <%= @produccion.product.name %>
	</p>

	<p>
	  <strong>Estado:</strong>
	  <%= @produccion.estado %>
	</p>

	<p>
	  <strong>Fecha de Produccion:</strong>
	  <%= @produccion.fecha_produccion %>
	</p>

	<p>
	  <strong>Fecha de Vencimiento:</strong>
	  <%= @produccion.fecha_vencimiento %>
	</p>

<br><br>
<%= link_to 'Atras', produccions_path, :class => 'btn btn-mini btn-default' %>
