<%= form_for(@ventaprod) do |f| %>
  <% if @ventaprod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ventaprod.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @ventaprod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<input type="hidden" name="id" value="<%= @id %>" >
<input type="hidden" name="rendicion_id" value="<%= @rendicion_id %>" >
<div  class="jumbotron" align="center">
  <strong>Voluntario: </strong> <%= @entregaprod.voluntario.full_name %><br>
  <strong>Producto: </strong> <%= @entregaprod.product %><br>  
    <strong>Cantidad Entregada: </strong>
    <%= @entregaprod.cantidad %><br>
    <strong>Cantidad Devuelta: </strong>
    <%= @entregaprod.rendicionprod.cantidad %>
</div>
  <div class="field">
    <%= f.label :cantidad,'Cantidad (*)' %><br>
    <%= f.number_field :cantidad, :value =>@entregaprod.cantidad.to_i-@entregaprod.rendicionprod.cantidad.to_i%>
  </div>
  <div class="field">
    <%= f.label :precioUnidad, 'Precio unidad (*)' %><br>
    <%= f.text_field :precioUnidad %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br>
    <%= f.text_area :observaciones %>
  </div>
  <div class="field">
    <%= f.label :fecha, 'Fecha (*)' %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit (@ventaprod.new_record? ? 'Registrar Venta' : 'Editar Venta'),:class => 'btn btn-mini btn-success active' %>
  </div>
<% end %>
