<%= form_for(@ventaprod) do |f| %>
  <% if @ventaprod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ventaprod.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @ventaprod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<input type="hidden" name="id" value="<%= @id %>" >
<input type="hidden" name="rendicion_id" value="<%= @rendicion_id %>" >
<div   align="center">
  <strong><%= f.label :fecha, 'Fecha Venta(*)' %></strong> 
    <%= f.date_select :fecha %><br>
  <strong>Voluntario: </strong> <%= @entregaprod.voluntario.full_name %><br>
  <strong>Producto: </strong> <%= @entregaprod.product %><br>  
    <strong>Cantidad Entregada: </strong>
    <%= @entregaprod.cantidad %><br>
    <strong>Cantidad Devuelta: </strong>
    <%if @entregaprod.rendicionprod %>
    <%= @entregaprod.rendicionprod.cantidad %>
    <%end%>
    <br>
    <%= f.label :cantidad,'Cantidad Vendida(*)' %>
    <%if @entregaprod.rendicionprod %>
      <%= f.number_field :cantidad, :value =>@entregaprod.cantidad.to_i-@entregaprod.rendicionprod.cantidad.to_i%>
    <%else%>
      <%= f.number_field :cantidad, :value =>@entregaprod.cantidad.to_i%>
    <%end%><br>    
    <strong>Precio unitario: </strong>
    <%= @entregaprod.product.price%><br>
    <strong>Ingresos esperados: </strong>
    <%if @entregaprod.rendicionprod %>
      <%= (@entregaprod.cantidad.to_i-@entregaprod.rendicionprod.cantidad.to_i)*@entregaprod.product.price%>
    <%else%>
      <%= @entregaprod.cantidad.to_i*@entregaprod.product.price%>
    <%end%><br>
    <strong><%= f.label :observaciones, 'Observaciones Venta' %></strong> 
    <%= f.text_area :observaciones %>
</div>
  
  
    
  <div class="actions">
    <%= f.submit (@ventaprod.new_record? ? 'Registrar Venta' : 'Editar Venta'),:class => 'btn btn-mini btn-success active' %>
  </div>
<% end %>
