<h1>Lista venta</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Fecha</th>
      <th>Precio unidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.cantidad %></td>
        <td><%= ventum.feche %></td>
        <td><%= ventum.precioUnidad %></td>
        <td><%= link_to 'Mostrar', ventum, :class => 'btn btn-mini btn-info active'%> <%= link_to 'Editar', edit_ventum_path(ventum), :class => 'btn btn-mini btn-warning active'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Venta', new_ventum_path,:class => 'btn btn-mini btn-success active'%>
