<%= form_for(@conductum) do |f| %>
  <% if @conductum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conductum.errors.count, "error") %> prohibited this conductum from being saved:</h2>

      <ul>
      <% @conductum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <input type="hidden" name="interno_id" value="<%= @id %>" >

  
  
  <div class="field">
    <%= f.label :tipoConducta, 'Tipo de Conducta (*)' %><br>
    <%= f.select :tipoConducta, ['','Agresion', 'Robo', 'Indiciplina'] %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
  
    <%= f.date_select :fecha,  {order: [ :day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year-1 }  %>
  </div>
  <div class="field">
    <%= f.label :descripcion, 'Descripcion (*)' %><br>
    <%= f.text_area :descripcion %>
  </div>
  
  <div class="actions">
    <%= f.submit (@conductum.new_record? ? 'Registrar Conducta' : 'Guardar Conducta') , :class => "btn btn-mini btn-success" %>
  </div>
<% end %>
