<h1>Listing conducta</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Fecha</th>
      <th>Descripcion</th>
      <th>Tipoconducta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conducta.each do |conductum| %>
      <tr>
        <td><%= conductum.estado %></td>
        <td><%= conductum.fecha %></td>
        <td><%= conductum.descripcion %></td>
        <td><%= conductum.tipoConducta %></td>
        <td><%= link_to 'Show', conductum %></td>
        <td><%= link_to 'Edit', edit_conductum_path(conductum) %></td>
        <td><%= link_to 'Destroy', conductum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conductum', new_conductum_path %>
