<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @conductum.estado %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @conductum.fecha %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @conductum.descripcion %>
</p>

<p>
  <strong>Tipoconducta:</strong>
  <%= @conductum.tipoConducta %>
</p>

<% link_to 'Editar Conducta', edit_conductum_path(@conductum) %> 
<%= link_to 'Atras', :back, :class => 'btn btn-mini btn-default' %>
