<p id="notice"><%= notice %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        Productos Entregados
      </th>
      <th>

          <% if @rendicion_producto== nil %>
            <%= link_to 'Registrar Rendicion', rendicion_path(@entrega_producto.id),:class => 'btn btn-mini btn-success active' %>
            <br><br>
          <% end %>


          <% if @rendicion_producto != nil %> 
              <%= link_to 'Editar Rendicon', edit_rendicion_producto_path(@rendicion_producto.id), :class => 'btn btn-mini btn-warning active'    %><br><br>                
          <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>Id:</strong>
      </td>
      <td>
        <%= @entrega_producto.id %>
      </td>
      <td>
        <% if @rendicion_producto != nil %> 
              <%= link_to 'Editar Rendicon', edit_rendicion_producto_path(@rendicion_producto.id), :class => 'btn btn-mini btn-warning active'    %><br><br>                
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Fecha:</strong>
      </td>
      <td>
        <%= @entrega_producto.fecha %>
      </td>
      <td>
        <% if @rendicion_producto != nil %> 
              <%= link_to 'Editar Rendicon', edit_rendicion_producto_path(@rendicion_producto.id), :class => 'btn btn-mini btn-warning active'    %><br><br>                
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Hora:</strong>
      </td>
      <td>
        <%= @entrega_producto.hora.strftime("%I:%M %p") %>
      </td>
      <td>
        <% if @rendicion_producto != nil %> 
              <%= link_to 'Editar Rendicon', edit_rendicion_producto_path(@rendicion_producto.id), :class => 'btn btn-mini btn-warning active'    %><br><br>                
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Cantidad:</strong>
      </td>
      <td>
        <%= @entrega_producto.cantidad %>
      </td>
      <td>
        <% if @rendicion_producto != nil %> 
              <%= link_to 'Editar Rendicon', edit_rendicion_producto_path(@rendicion_producto.id), :class => 'btn btn-mini btn-warning active'    %><br><br>                
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Producto:</strong>
      </td>
      <td>
        <%= @entrega_producto.product.code %>
      </td>
      <td>
        <% if @rendicion_producto != nil %> 
              <%= link_to 'Editar Rendicon', edit_rendicion_producto_path(@rendicion_producto.id), :class => 'btn btn-mini btn-warning active'    %><br><br>                
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Voluntario:</strong>
      </td>
      <td>
        <%= @entrega_producto.voluntario.full_name %>
      </td>
      <td>
        <% if @rendicion_producto != nil %> 
              <%= link_to 'Editar Rendicon', edit_rendicion_producto_path(@rendicion_producto.id), :class => 'btn btn-mini btn-warning active'    %><br><br>                
        <% end %>
      </td>
    </tr>
  </tbody>
</table>


<%= link_to 'Atras', entrega_productos_path,:class => 'btn btn-mini btn-default'%>
