<%= form_for(@egreso) do |f| %>
  <% if @egreso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@egreso.errors.count, "error") %> prohibited this egreso from being saved:</h2>

      <ul>
      <% @egreso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :concepto, 'Concepto *' %><br>
    <%= f.text_field :concepto %>
  </div>
  <div class="field">
    <%= f.label :monto, 'Monto Bs. *' %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :fecha, 'Fecha *' %><br>
    <%= f.date_select :fecha %>
  </div><br><br>
  <div>
    <label>* Los campos con asterisco, son obligatorios. </label>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit (@egreso.new_record? ? 'Registrar Egreso' : 'Editar Egreso') , :class => "btn btn-mini btn-success" %>
  </div>
<% end %>
