<%= form_for(@egreso) do |f| %>
  <% if @egreso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@egreso.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @egreso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>
        <div class="field">
          <%= f.label :concepto, 'Concepto *' %><br>
          <%= f.text_field :concepto %>
        </div>
      </td>
      <td width="100px"></td>
      <td>
        <div class="field">
          <%= f.label :monto, 'Monto en Bs. *' %><br>
          <%= f.text_field :monto %>
        </div>
      </td>
    </tr>
    <tr height="15px"></tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :fecha, 'Fecha *' %><br>
          <%= f.date_select :fecha %>
        </div>
      </td>
    </tr>
  </table>

  <br><br>
  
  <div>
    <label>* Los campos con asterisco, son obligatorios. </label>
  </div><br><br>
  <div class="actions" align="center">
    <%= f.submit (@egreso.new_record? ? 'Registrar Egreso' : 'Editar Egreso') , :class => "btn btn-sm btn-success" %> |
    <%= link_to 'Egresos', egresos_path, :class => 'btn btn-sm btn-default' %>
  </div>
<% end %>
