<center>
	<h2>Editar Egreso</h2>

	<%= form_for(@egreso) do |f| %>
	  <div class="field">
		    <%= f.label :estado, 'Estado *' %><br>
		    <%= f.select :estado, ['Activo', 'Inactivo'] %>
	  </div>
	  <%= render 'form' %>
	<% end %>

	<%= link_to 'Atras', egresos_path, :class => 'btn btn-mini btn-default' %>
</center>