<h1>Lista de Egresos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Concepto</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @egresos.each do |egreso| %>
      <tr>
        <td><%= egreso.concepto %></td>
        <td><%= egreso.monto %></td>
        <td><%= link_to 'Ver', egreso, :class => 'btn btn-mini btn-info active' %></td>
        <td><%= link_to 'Editar', edit_egreso_path(egreso), :class => 'btn btn-mini btn-warning active' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Egreso', new_egreso_path, :class => 'btn btn-mini btn-success active' %>
