<center>
	<p id="notice"><%= notice %></p>

	<p>
		<strong>Egreso Nº.</strong>
		<%= @egreso.id %>
	</p>

	<p>
		<strong>Concepto:</strong>
		<%= @egreso.concepto %>
	</p>

	<p>
	  <strong>Monto Bs:</strong>
	  <%= @egreso.monto %>
	</p>

	<p>
	  <strong>Fecha:</strong>
	  <%= @egreso.fecha.strftime("%d/%b/%Y") %>
	</p>

	<p>
	  <strong>Estado:</strong>
	  <%= @egreso.estado %>
	</p>
	<br><br>
	<form>
		<input type="button" name="imprimir" value="Imprimir" class='btn btn-mini btn-default' onclick="window.print();">
	</form> <br>

	<%= link_to 'Atras', egresos_path, :class => 'btn btn-mini btn-default' %>
</center>