	<p id="notice"><%= notice %></p>

	<p>
		<strong>Concepto:</strong>
		<%= @egreso.concepto %>
	</p>

	<p>
	  <strong>Monto Bs:</strong>
	  <%= @egreso.monto %>
	</p>

	<p>
	  <strong>Fecha:</strong>
	  <%= @egreso.fecha %>
	</p>

	<p>
	  <strong>Estado:</strong>
	  <%= @egreso.estado %>
	</p>
<br><br>
	<%= link_to 'Atras', egresos_path, :class => 'btn btn-mini btn-default' %>