<div id="cuadromedio"><%= form_for(@entregaprod) do |f| %>
  <% if @entregaprod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entregaprod.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @entregaprod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :fecha, 'Fecha (*)'%> 
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :hora %> 
    <%= f.time_select :hora %>
  </div>
  <div class="field">
    <%= f.label :voluntario_id, 'Voluntario (*)' %> 
    <%= f.collection_select(:voluntario_id, Voluntario.all, :id, :full_name) %>
  </div>
  <div class="field">
    <%= f.label :product_id, 'Producto (*)' %> 
    <%= f.collection_select(:product_id, Product.all, :id, :full_code, {include_blank: ''}) %>
  </div>
  <div class="field" >
  <% @stockz.each do |s| %>  
    <label id="opcion<%=s.product.id%>" style="display: none;">Cantidad disponible = <%= s.cantidad %></label> 
  <% end %>
    <label id="mostrarc" style="display: none;"></label>
   </div>
  <div class="field">
    <%= f.label :cantidad, 'Cantidad (*)' %> 
    <%= f.number_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit (@entregaprod.new_record? ? 'Registrar Entrega' : 'Editar Entrega'),:class => 'btn btn-mini btn-success active'%>
  </div>

<% end %>
</div>
<script>
(function () {
    var previous;

    $("#entregaprod_product_id").focus(function () {
        // Store the current value on focus, before it changes
        previous = this.value;
    }).change(function() {
        // Do something with the previous value after the change
        var optionSelected = $(this).find("option:selected");
      var valueSelected  = optionSelected.val();
      document.getElementById("mostrarc").style.display = "block";
      document.getElementById("mostrarc").innerHTML = document.getElementById("opcion".concat(valueSelected)).innerHTML;
    });
})();


</script>