<% if params[:palabra]==nil ||  params[:palabra]== '' %>
  <h1>ventas de hoy</h1>
<%else%>
  <h1>Buscar ventas</h1>
<%end%>
<div align="right">
  <%= form_tag({:controller => "entregaprods", :action => "index"}, :method => :get) do %>
    Buscar cita: &nbsp;&nbsp;Desde&nbsp; <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Fecha Cita aaaa-mm-dd", :name => 'palabra' %> &nbsp;&nbsp;Hasta&nbsp; <%= text_field_tag "searchbox2", params[:searchbox2], :placeholder => "Fecha Cita aaaa-mm-dd", :name => 'palabra2' %> &nbsp;&nbsp;&nbsp;
    <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-mini' %>
  <% end %>
</div><br>

<table class="table table-striped">
  <thead>
    <tr>
      <% if @page == nil %>
      <% @page=1 %> 
      <%end%>
      <% if @page.to_i > 1 %>
      <%= link_to 'Anterior','/entregaprods?&page='+(@page.to_i-1).to_s+'&palabra='+params[:palabra].to_s+'&palabra2='+params[:palabra2].to_s, :class => 'btn btn-mini btn-default' %> 
      <%end%>
      <% if @page.to_i*5 < @entregaprods.length %>
      <%= link_to 'Siguiente','/entregaprods?&page='+(@page.to_i+1).to_s+'&palabra='+params[:palabra].to_s+'&palabra2='+params[:palabra2].to_s, :class => 'btn btn-mini btn-default' %>
      <%end%>
    </tr>    
    <tr>

      <th>Fecha</th>
      <th>Voluntario</th>
      <th>Product</th>
      <th>Cantidad</th>      
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entregaprods.each_with_index do |entregaprod, index| %>
      <% if index < @page.to_i*5 && index >= (@page.to_i-1)*5%>
      <tr>
        <td><%= entregaprod.fecha %></td>        
        <td><%= entregaprod.voluntario %></td>
        <td><%= entregaprod.product %></td> 
        <td><%= entregaprod.cantidad %></td>
        <td>
          <% if Entregaprod.find(entregaprod.id).rendicionprod == nil %>
            <strong style="color:#DF3A01">Pendiente</strong>
          <%elsif Entregaprod.find(entregaprod.id).ventaprod == nil %>
            <strong style="color:#DF7401">Pendiente</strong>
          <%end%>        
          <% if Entregaprod.find(entregaprod.id).ventaprod != nil %>
            <strong style="color:#04B431">Completo</strong>
          <%end%>
        </td>
        <td><%= link_to 'Ver', entregaprod, :class => 'btn btn-mini btn-info active'%> <%= link_to 'Editar', edit_entregaprod_path(entregaprod), :class => 'btn btn-mini btn-warning active'%></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Entrega producto', new_entregaprod_path,:class => 'btn btn-mini btn-success active'%>

