<% if params[:palabra2]=='' &&  params[:palabra]== '' &&  params[:producto]== ''%>
  <h1>ventas de hoy
<%end%>
<% if params[:palabra2]==nil &&  params[:palabra]== nil &&  params[:producto]== nil%>
  <h1>ventas de hoy
<%end%>
<% if params[:palabra2]!='' &&  params[:palabra]!= '' && params[:producto]== ''%> 
  <h1>Kadex de Productos&nbsp;
<%end%>
<% if params[:producto]!= '' && params[:producto]!= nil%>
  <h1>Kadex de <%=@nombre.full_code%>&nbsp;
<%end%> 
<%if params[:palabra]!='' && params[:palabra]!= nil%>
  Desde <%=params[:palabra]%>&nbsp;
<%end%>
<%if params[:palabra2]!='' && params[:palabra]!= nil%>
  Hasta <%=params[:palabra2]%>
<%end%>
</h1>
<div align="right">
    <%= form_tag({:controller => "entregaprods", :action => "index"}, :method => :get) do %>
      Producto: <%= select_tag "producto", options_from_collection_for_select(@product, "id", "full_code"), include_blank: true%>
      Fecha Inicio: <%= text_field_tag "search", params[:search], :name => 'palabra', :placeholder => "dia/mes/año", :class => 'datepicker' %>
      Fecha Fin: <%= text_field_tag "search", params[:search], :name => 'palabra2', :placeholder => "dia/mes/año", :class => 'datepicker' %>
      <%= submit_tag "Buscar Producto", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
</div><br>

<table class="table table-striped">
  <thead>
    <tr>
      <% if @page == nil %>
      <% @page=1 %> 
      <%end%>
      <% if @page.to_i > 1 %>
      <%= link_to 'Anterior','/entregaprods?&page='+(@page.to_i-1).to_s+'&palabra='+params[:palabra].to_s+'&palabra2='+params[:palabra2].to_s+'&producto='+params[:producto].to_s, :class => 'btn btn-mini btn-default' %> 
      <%end%>
      <% if @page.to_i*5 < @entregaprods.length %>
        <% if @entregaprods.length%5 >0 %>
          <% @sumax=1%>
        <% else %>
          <% @sumax=0%>
        <% end %>
       pagina <%= @page%> de <%= (@entregaprods.length/5)+@sumax %> 
      <%= link_to 'Siguiente','/entregaprods?&page='+(@page.to_i+1).to_s+'&palabra='+params[:palabra].to_s+'&palabra2='+params[:palabra2].to_s+'&producto='+params[:producto].to_s, :class => 'btn btn-mini btn-default' %>
      <%end%>
    </tr>    
    <tr>

      <th>Fecha</th>
      <th>Voluntario</th>
      <th>
      <% if params[:producto]== '' %>
        Producto
      <%end%>
      </th>    
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entregaprods.each_with_index do |entregaprod, index| %>
      <% if index < @page.to_i*5 && index >= (@page.to_i-1)*5%>
      <tr>
        <td><%= entregaprod.fecha %></td>        
        <td><%= entregaprod.voluntario %></td>
        <td>
        <% if params[:producto]== '' %>
         <%= entregaprod.product %>
        <%end%>
        <td>
          <% if Entregaprod.find(entregaprod.id).rendicionprod == nil %>
            <strong style="color:#DF3A01">Pendiente</strong>
          <%elsif Entregaprod.find(entregaprod.id).ventaprod == nil %>
            <strong style="color:#DF7401">Pendiente</strong>
          <%end%>        
          <% if Entregaprod.find(entregaprod.id).ventaprod != nil %>
            <strong style="color:#04B431">Completo</strong>
          <%end%>
        </td>
        <td id="botones"><%= link_to 'Ver Venta', entregaprod, :class => 'btn btn-mini btn-info active'%> <%= link_to 'Editar Entrega', edit_entregaprod_path(entregaprod), :class => 'btn btn-mini btn-warning active'%>
           <% if entregaprod.rendicionprod == nil %>
            <%= link_to 'Registrar Devolucion', rend_path(entregaprod.id),:class => 'btn btn-mini btn-success active' %>
           <% end %>
           <% if entregaprod.ventaprod == nil %>
            <% if entregaprod.rendicionprod != nil %> 
              <%= link_to 'Registrar Venta', vent_path(:id => entregaprod.id,:rendicion_id => Rendicionprod.find_by_entregaprod_id(entregaprod.id)),:class => 'btn btn-mini btn-success active' %>
            <%else%>
              <%= link_to 'Registrar Venta', vent_path(:id => entregaprod.id,:rendicion_id => 0),:class => 'btn btn-mini btn-success active' %>
            <% end %>
           <%else%>
            <% if entregaprod.ventaprod.ingreso== nil %>
              <%= link_to 'Registrar Ingreso', ingre_path(entregaprod.ventaprod.id,:donaid => '0'),:class => 'btn btn-mini btn-success active' %>
            <% end %>    
           <% end %>
        </td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<script>
  $('.datepicker').datepicker({
    weekStart:1,
  }).on('changeDate', function(e){
    $(this).datepicker('hide');
  });
</script>
<br>

<%= link_to 'Crear Entrega producto', new_entregaprod_path,:class => 'btn btn-mini btn-success active'%>

