
<center>
  <div id="cuadro">
  <p id="notice"><%= notice %></p>
<div   align="center">
  <div id="subtitulo">
    Venta
  </div>
  <strong>Voluntario: </strong> <%= @entregaprod.voluntario.full_name %><br>
  <strong>Producto: </strong> <%= @entregaprod.product %><br>
  <strong>Cantidad Entregada: </strong>
  <%= @entregaprod.cantidad.to_i %><br> 
  <strong>Cantidad Devuelta: </strong> 
    <% if @rendicionprod %>
    <%= @rendicionprod.cantidad.to_i %><br>
    <strong>Cantidad Vendida: </strong>
    <%= @entregaprod.cantidad.to_i-@rendicionprod.cantidad.to_i %><br>
    <strong>Precio Unitario: </strong>
    <%= @entregaprod.product.price %> Bs. <br>
    <strong>Precio Total: </strong>
    <%= @entregaprod.product.price*(@entregaprod.cantidad-@rendicionprod.cantidad) %> Bs.  <br>
    <%end%>
     
</div>
<div id="linea"></div>
<div id="botones">
  <div>
    <% if @rendicionprod != nil %>
      <%= link_to 'Editar Devolucion', edit_rendicionprod_path(@rendicionprod.id), :class => 'btn btn-mini btn-warning active'%>
    <% end %>
    <% if @ventaprod != nil %>
      <%= link_to 'Editar Venta', edit_ventaprod_path(@ventaprod.id), :class => 'btn btn-mini btn-warning active'%>
    <% end %>
  </div>
  <div>
    <% if @ventaprod != nil %>
      <%= link_to 'Detalles Venta', rendicionprod_path(@ventaprod.rendicionprod_id), :class => 'btn btn-mini btn-info active'%>
    <% end %>
  </div>
</div>    
<%= link_to 'Atras', entregaprods_path,:class => 'btn btn-mini btn-default' %>
</div>
</center>