
<center>
  <div id="cuadro">
  <p id="notice"><%= notice %></p>
<div  class="jumbotron" align="center">
  <div id="subtitulo">
        Detalle Venta
  </div>
  <strong>Voluntario: </strong> <%= @entregaprod.voluntario.full_name %><br>
  <strong>Producto: </strong> <%= @entregaprod.product %><br>
    <strong>Precio Unitario: </strong>
    <%= @entregaprod.product.price %> Bs. <br>
  <strong>Cantidad Entregada: </strong>
  <%= @entregaprod.cantidad.to_i %><br> 
  <strong>Cantidad Devuelta: </strong> 
    <% if @rendicionprod %>
    <%= @rendicionprod.cantidad.to_i %><br>
    <strong>Cantidad Vendida: </strong>
    <%= @entregaprod.cantidad.to_i-@rendicionprod.cantidad.to_i %><br>
    <strong>Precio Total: </strong>
    <%= @entregaprod.product.price*(@entregaprod.cantidad-@rendicionprod.cantidad) %> Bs.  <br>
    <%end%>
    <% if @ingreso== nil && @ventaprod%>
      <%= link_to 'Registrar Ingreso', ingre_path(@ventaprod.id,:donaid => '0'),:class => 'btn btn-mini btn-success active' %>
    <% end %> 
</div>
<div id="linea"></div>
      <div id="subtitulo">
        Productos Entregados
      </div>
      <div>
        <strong>Fecha:</strong>
        <%= @entregaprod.fecha %>
      </div>
      <div>
        <strong>Hora:</strong>
        <%= @entregaprod.hora.strftime("%I:%M %p") %>
      </div>
      <div>
        <strong>Cantidad:</strong>
        <%= @entregaprod.cantidad %>
      </div>

      <% if @rendicionprod != nil %> 
        <div id="subtitulo">
          Productos Devueltos
        </div>
        <div>
          <strong>Fecha:</strong>
          <%= @rendicionprod.fecha %>
        </div>
        <div>
          <strong>Hora:</strong>
          <%= @rendicionprod.hora.strftime("%I:%M %p") %>
        </div>
        <div>
          <strong>Cantidad:</strong>
          <%= @rendicionprod.cantidad %>
        </div>
        <div>
          <% if @rendicionprod.observaciones != "" %> 
            <strong>Observaciones:</strong>
            <%= @rendicionprod.observaciones %>
          <% end %>
        </div>
        <div>
          <%= link_to 'Editar Devolucion', edit_rendicionprod_path(@rendicionprod.id), :class => 'btn btn-mini btn-warning active'%>
        </div>
      <%else%>
        <%= link_to 'Registrar Devolucion', rend_path(@entregaprod.id),:class => 'btn btn-mini btn-success active' %>   
      <% end %>

      <% if @ventaprod != nil %> 
        <div id="subtitulo">
          Productos Vendidos
        </div>
        <div>
          <strong>Fecha:</strong>
          <%= @ventaprod.fecha %>
        </div>        
        <div>
          <strong>Cantidad:</strong>
          <%= @ventaprod.cantidad %>
        </div>
        <div>
          <% if @ventaprod.observaciones != "" %> 
            <strong>Observaciones:</strong>
            <%= @ventaprod.observaciones %>
          <% end %>
        </div>
        <div>
          <%= link_to 'Editar Venta', edit_ventaprod_path(@ventaprod.id), :class => 'btn btn-mini btn-warning active'%>
        </div>
      <%else%>
        <div>
          <% if @rendicionprod != nil %> 
            <%= link_to 'Registrar Venta', vent_path(:id => @entregaprod.id,:rendicion_id => @rendicionprod.id),:class => 'btn btn-mini btn-success active' %>
          <%else%>
            <%= link_to 'Registrar Venta', vent_path(:id => @entregaprod.id,:rendicion_id => 0),:class => 'btn btn-mini btn-success active' %>
          <% end %>
        </div>             
      <% end %>
    
<%= link_to 'Atras', entregaprods_path,:class => 'btn btn-mini btn-default' %>
</div>
</center>