<%= form_for(@rendicion_producto) do |f| %>
  <% if @rendicion_producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rendicion_producto.errors.count, "error") %> prohibited this rendicion_producto from being saved:</h2>

      <ul>
      <% @rendicion_producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <input type="hidden" name="entrega_productos_id" value="<%= @id %>" >
  <div class="field">
    <%= f.label :fecha , 'Fecha (*)'%><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f.time_select :hora %>
  </div>
  <div class="field">
    <%= f.label :cantidad, 'cantidad(*)' %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br>
    <%= f.text_area :observaciones %>
  </div>
  
  <div class="field">
    <%= f.label :Product_id %><br>
    <%= f.collection_select(:Product_id, Product.all, :id, :code) %>
  </div>
  <div class="field">
    <%= f.label :Voluntario_id %><br>Voluntario_id
    <%= f.collection_select(:Voluntario_id, Voluntario.all, :id, :full_name) %>    
  </div>
  <div class="actions">
    <%= f.submit (@rendicion_producto.new_record? ? 'Registrar Rendicion' : 'Editar Rendicion'),:class => 'btn btn-mini btn-success active'%>
  </div>
<% end %>
