<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @rendicion_producto.id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @rendicion_producto.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @rendicion_producto.hora.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @rendicion_producto.cantidad %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @rendicion_producto.observaciones %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @rendicion_producto.Product.code %>
</p>

<p>
  <strong>Voluntario:</strong>
  <%= @rendicion_producto.Voluntario.full_name %>
</p>

<%= link_to 'Atras', rendicion_productos_path,:class => 'btn btn-mini btn-default' %>
