<%= form_for(@recepcion_donativo) do |f| %>
  <% if @recepcion_donativo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recepcion_donativo.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @recepcion_donativo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :articulo ,'Tipo Articulo (*)'%><br>
    <%= f.text_field :articulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion,'Descripcion (*)' %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :precio ,'Precio Sugerido'%><br>
    <%= f.text_field :precio %>
  </div>
  <div class="actions">
    <%= f.submit (@recepcion_donativo.new_record? ? 'Registrar Donativo' : 'Editar Donativo'),:class => 'btn btn-mini btn-success active'%>
  </div>
<% end %>
