<h1>Lista de donativos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nombredonante</th>
      <th>Articulo</th>
      <th>Cantidad</th>
      <th>Descripcion</th>
      <th>Id voluntario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recepcion_donativos.each do |recepcion_donativo| %>
      <tr>
        <td><%= recepcion_donativo.fecha %></td>
        <td><%= recepcion_donativo.nombreDonante %></td>
        <td><%= recepcion_donativo.articulo %></td>
        <td><%= recepcion_donativo.cantidad %></td>
        <td><%= recepcion_donativo.descripcion %></td>
        <td><%= recepcion_donativo.id_voluntario %></td>
        <td><%= link_to 'Show', recepcion_donativo %></td>
        <td><%= link_to 'Edit', edit_recepcion_donativo_path(recepcion_donativo) %></td>
        <td><%= link_to 'Destroy', recepcion_donativo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recepcion donativo', new_recepcion_donativo_path %>
