<h1>Lista de donativos</h1>
<div align="right">
  <%= form_tag({:controller => "recepcion_donativos", :action => "index"}, :method => :get) do %>
    Buscar Donativo: &nbsp;&nbsp;Desde&nbsp; <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Fecha Donativo aaaa-mm-dd", :name => 'palabra' %> &nbsp;&nbsp;Hasta&nbsp; <%= text_field_tag "searchbox2", params[:searchbox2], :placeholder => "Fecha Donativo aaaa-mm-dd", :name => 'palabra2' %> &nbsp;&nbsp;&nbsp;
    <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-mini' %>
  <% end %>
</div><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nombre Donante</th>
      <th>Articulo</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recepcion_donativos.each do |recepcion_donativo| %>
      <tr>
        <td><%= recepcion_donativo.fecha %></td>
        <td><%= recepcion_donativo.nombreDonante %></td>
        <th><%= recepcion_donativo.articulo %></th>
        <th><%= recepcion_donativo.cantidad %></th>
        <td><%= link_to 'Mostrar', recepcion_donativo, :class => 'btn btn-mini btn-info active' %> <%= link_to 'Editar', edit_recepcion_donativo_path(recepcion_donativo), :class => 'btn btn-mini btn-warning active' %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ingresar donativo', new_recepcion_donativo_path ,:class => 'btn btn-mini btn-success active' %>
<!-- <%= link_to 'Inicio', root_path, :class => 'btn btn-mini btn-default'  %> -->
