<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @recepcion_donativo.fecha %>
</p>

<p>
  <strong>Nombredonante:</strong>
  <%= @recepcion_donativo.nombreDonante %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @recepcion_donativo.articulo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @recepcion_donativo.cantidad %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @recepcion_donativo.descripcion %>
</p>


<%= link_to 'Editar', edit_recepcion_donativo_path(@recepcion_donativo) , :class => 'btn btn-mini btn-default'  %> |
<%= link_to 'Atras', recepcion_donativos_path , :class => 'btn btn-mini btn-default'  %>
<!-- <%= link_to 'Inicio', root_path, :class => 'btn btn-mini btn-default'  %> -->
