<%= form_for(@hijo) do |f| %>
  <% if @hijo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hijo.errors.count, "error") %> prohibited this hijo from being saved:</h2>

      <ul>
      <% @hijo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
   <input type="hidden" name="interno_id" value="<%= @id %>" >

   
  
  
  <div class="field">
    <%= f.label :nombre, 'Nombre (*)' %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido1, 'Apellido Paterno (*)' %><br>
    <%= f.text_field :apellido1 %>
  </div>
  <div class="field">
    <%= f.label :apellido2, 'Apellido Materno (*)' %><br>
    <%= f.text_field :apellido2 %>
  </div>
  <div class="field">
    <%= f.label :sexo, 'Sexo (*)' %><br>
    <%= f.select :sexo, ['','Masculino', 'Femenino'] %>
  </div>
  <div class="field">
    <%= f.label :ci %><br>
    <%= f.number_field :ci %>
  </div>
  <div class="field">
    <%= f.label :fechaNacimiento, 'Fecha de Nacimiento (*)' %><br>
    <%= f.date_select :fechaNacimiento, { :start_year => Time.now.year-40, :end_year => Time.now.year} %>
  </div>
  <div class="field">
    <%= f.label :lugarNacimiento, 'Lugar de Nacimiento (*)' %><br>
    <%= f.text_field :lugarNacimiento %>
  </div>
  <div class="actions">
    <%= f.submit  (@hijo.new_record? ? 'Registrar Hijo' : 'Editar Hijo') , :class => "btn btn-mini btn-success" %> 
  </div>
<% end %>
