<h1>Ver Hijo</h1>
<p id="notice"><%= notice %></p>







<p>
  <strong>Nombre:</strong>
  <%= @hijo.nombre %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @hijo.apellido1 %>
</p>

<p>
  <strong>Apellido Materno:</strong>
  <%= @hijo.apellido2 %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @hijo.sexo %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @hijo.ci %>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @hijo.fechaNacimiento.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Lugar de Nacimiento:</strong>
  <%= @hijo.lugarNacimiento %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @hijo.estado %>
</p>




<%= link_to 'Atras', :back, :class => 'btn btn-mini btn-default'  %>
