<h1>VER HIJO</h1>
<p id="notice"><%= notice %></p>



<p>
  <strong>Estado:</strong>
  <%= @hijo.estado %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @hijo.sexo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @hijo.nombre %>
</p>

<p>
  <strong>Apellido1:</strong>
  <%= @hijo.apellido1 %>
</p>

<p>
  <strong>Apellido2:</strong>
  <%= @hijo.apellido2 %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @hijo.ci %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @hijo.fechaNacimiento %>
</p>

<p>
  <strong>Lugarnacimiento:</strong>
  <%= @hijo.lugarNacimiento %>
</p>


<%= link_to 'Atras', :back, :class => 'btn btn-mini btn-default'  %>
