<%= form_for(@rendicionprod) do |f| %>
  <% if @rendicionprod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rendicionprod.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @rendicionprod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" name="id" value="<%= @id %>" >
<div align="center">
  <strong><%= f.label :fecha , 'Fecha Devolucion(*)'%></strong> 
    <%= f.date_select :fecha %><br>
  <strong><%= f.label :hora, 'Hora Devolucion(*)' %></strong> 
    <%= f.time_select :hora %><br>
  <strong>Voluntario: </strong> <%= @entregaprod.voluntario.full_name %><br>
  <strong>Producto: </strong> <%= @entregaprod.product %><br>  
  <strong>Cantidad Entregada: </strong>
    <%= @entregaprod.cantidad %><br>
  <strong><%= f.label :cantidad, 'cantidad Devuleta(*)' %></strong> 
    <%= f.number_field :cantidad ,:value =>(@rendicionprod.new_record? ? '0' : @rendicionprod.cantidad.to_s) %><br>
  <strong style="vertical-align: bottom;"><%= f.label :observaciones , 'Observaciones Devolucion'%></strong> 
    <%= f.text_area :observaciones %><br>  
  <div class="actions">
    <%= f.submit (@rendicionprod.new_record? ? 'Registrar Devolucion' : 'Editar Devolucion'),:class => 'btn btn-mini btn-success active'%>
  </div>
<% end %>
