<p id="notice"><%= notice %></p>

<p>
  <strong>Produccions:</strong>
  <%= @stock.produccions %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @stock.cantidad %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
