<%= form_for(@historia_clinica) do |f| %>
  <% if @historia_clinica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historia_clinica.errors.count, "error") %> prohibited this historia_clinica from being saved:</h2>

      <ul>
      <% @historia_clinica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interno %>
    <%= f.collection_select(:interno_id, Interno.all, :id, :nombre) %>
    <!--%= f.select :interno_id, options_for_select(@internos.collect{ |u| [u.nombres, u.id] }) %-->
  </div>

  <div class="field">
    <%= f.label :enfermedades %><br>
    <%= f.text_area :enfermedades %>
  </div>
  <div class="field">
    <%= f.label :causa_internacion %><br>
    <%= f.text_area :causa_internacion %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br>
    <%= f.text_area :observaciones %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <!--div class="field">
    <%= f.label :interno_id %><br>
    <%= f.text_field :interno_id %>
  </div-->
  <div class="actions">
    <%= f.submit (@historia_clinica.new_record? ? 'Registrar Historia Clinica' : 'Editar Historia Clinica') , :class => "btn btn-mini btn-success" %>
  </div>
<% end %>
