<div class="container">
	<div class="header clearfix">
		<ul class="nav nav-pills pull-right">
			<li role="presentation" class="active">
				<a href="#">Inicio</a>
			</li>
			<li role="presentation">
				<a href="#">Acerca</a>
			</li>
			<li role="presentation">
				<a href="#">Contacto</a>
			</li>
		</ul>
	</div>
	
	<div class="jumbotron">
		<h1>REMAR</h1>
		<h2>Rehabilitacion para el Marginado</h2>
	</div>

	<div class="row menu">
		<div class="col-lg-6">
			<%= link_to 'Productos', products_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Internos', internos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Egreso', egresos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Cita', cita_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Historia Clinica', historia_clinicas_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Recepcion de Donativos', recepcion_donativos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Produccion', produccions_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Avaluo de Donativos', avaluo_donativos_path %>
		</div>
		<div class="col-lg-6">
		</div>
		<div class="col-lg-6">
		</div>

	</div>
</div>