<div class="container">
	 
	<div class="jumbotron">
		<img src="/images/remar.png" width="1020">
	</div>

	<div class="row menu">
		<div class="col-lg-6">
			<%= link_to 'Internos', internos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Cita', cita_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Egreso', egresos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Recepcion de Donativos', recepcion_donativos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Producto', products_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Ingresos', ingresos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Produccion', produccions_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Voluntarios', voluntarios_path %>
		</div>
		<div class="col-lg-6"></div>
		<div class="col-lg-6">
			<%= link_to 'Ventas','/entregaprods?&page=1' %>
		</div>	
	</div>
</div>
<br><br><br><br><br><br>
<div class="navbar navbar-inverse" id="pie_pagina">
		<div class="row">
			<div class="col-md-4">
				<font color="white"><strong>Elaborador por:</strong></font>
			</div>
			<div class="col-md-4">
				<font color="white">
					<p>Howard Castillo Balboa</p>
					<p>Lesly Méndez Cruz</p>
					<p>Guido Vildozo Méndez</p>
				</font>
			</div>
			<div class="col-md-4">
				<img src="/images/logo_cato.png" alt="rss feed" width="70"/>
			</div>
		</div>
		<div align="right">
			<font color="white"><p>Taller de Sistemas de Información - Copyright © 2015</p></font>
		</div>
</div>