<div class="container">
	
	<div class="jumbotron">
		<img src="/images/remar.png" width="1020">
	</div>

	<div class="row menu">
		<div class="col-lg-6">
			<%= link_to 'Producto', products_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Internos', internos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Egreso', egresos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Cita', cita_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Historia Clinica', historia_clinicas_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Recepcion de Donativos', recepcion_donativos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Produccion', produccions_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Avaluo de Donativos', avaluo_donativos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Voluntarios', voluntarios_path %>
		</div>
		<div class="col-lg-6">
		</div>
		<div class="col-lg-6">
		</div>

	</div>
</div>