<div class="container">
	 
	<div class="jumbotron">
		<img src="/images/remar.png" width="1020">
	</div>

	<div class="row menu">
		<!-- <div class="col-lg-6">
			<%= link_to 'Producto', products_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Internos', internos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Produccion', produccions_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Cita', cita_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Egreso', egresos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Recepcion de Donativos', recepcion_donativos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Ingresos', ingresos_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Voluntarios', voluntarios_path %>
		</div>
		<div class="col-lg-6">
			<%= link_to 'Ventas','/entregaprods?&page=1' %>
		</div> -->
		<div class="col-xs-6">
			<h4>Quiénes Somos?</h4><br>
			<p>
				REMAR BOLIVIA es una Institución Benéfica sin fines de lucro, nacida hace 28 años en España y que por la gracia de Dios está en más de 70 países, en los cinco continentes; derramando el amor de Dios en corazones vacíos o llenos de la miseria que ofrece el mundo.
			</p>
			
			<p>
				Por la gracia de Dios, seguimos venciendo en múltiples batallas de la fe, en las muchas trincheras donde peleamos contra la injusticia, la miseria, la enfermedad, la mentira, la hambruna y contra toda obra de perversión y maldad.
			</p>
			
			<p>
				En Bolivia, desde hace 18 años atendemos a personas con diversas  problemáticas, entre ellas: madres en abandono con o sin hijos, varones y mujeres  con problemáticas adictivas, niñas y adolescentes con problemática de maltrato y abuso sexual.

				A todos ellos, les brindamos ayuda integral en:  alimento, vivienda, vestimenta, medicina, educación y/o terapia (según sea el caso).
			</p>
			
			<p>
				Toda esta ayuda es de forma solidaria – gratuita, sustentado por el trabajo voluntario de  varones y mujeres que han decidido servir a los demás  “POR AMOR A DIOS Y AL PRÓJIMO”.
			</p>	
		</div>
		<div class="col-xs-6">
			<h4>Misión</h4><br>
			<p>
				Somos una Institución de servicio a  la sociedad menos favorecida  y marginada con programas de apoyo  social, brindándoles ayuda espiritual,  moral y material.  Esta ayuda se adapta a las necesidades de cada persona y es de carácter voluntario, solidario – gratuito, mejorando, de esta manera, las condiciones de vida de los niños, niñas, mujeres y varones a través de proyectos auto sostenibles, con la finalidad última de propiciar no sólo la rehabilitación  y  reinserción social sino también el desarrollo integral de  las personas a las cuales apoyamos.
			</p>
			<h4>Visión</h4><br>
			<p>
				Ser una Institución benéfica plenamente consolidada en todo el territorio nacional para la ayuda y desarrollo de personas marginadas, cuya intervención sostenible y auto gestionada contribuya al desarrollo humano, social, espiritual y económico del País.
			</p>
		</div>
	</div>
</div>