<%= form_for(@ingreso) do |f| %>
  <% if @ingreso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingreso.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @ingreso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" name="id" value="<%= @id %>" >

  <% if @donaid!=nil && @donaid!='' && @donaid!='0'%>
    <div class="field">
      <input type="hidden" name="donaid" value="<%= @donaid %>" >
      <%= f.label :montoBs, 'Precio Bs (*)' %><br>
      <%= f.text_field :montoBs, :value => @donativo.precio.to_i %>
    </div>    
  <% elsif @id!=nil && @id!='' && @id!='0'%>
    <div class="field">
      <input type="hidden" name="donaid" value="<%= @donaid %>" >
      <%= f.label :montoBs, 'Monto Bs (*)' %><br>
      <%= f.text_field :montoBs, :value => @ventaprod.precioUnidad.to_i*@ventaprod.cantidad.to_i %>
    </div>          
  <%else%>
    <div class="field">
      <%= f.label :montoBs, 'Monto Bs (*)' %><br>
      <%= f.text_field :montoBs %>
    </div>  
    <div class="field">
      <%= f.label :concepto, 'Concepto (*)' %><br>
      <%= f.text_field :concepto %>
    </div>    
    <div class="field">
      <%= f.label :fecha, 'Fecha (*)' %><br>
      <%= f.date_select :fecha %>
    </div>
  <%end%>
  <div class="actions">
    <%= f.submit (@ingreso.new_record? ? 'Registrar Ingreso' : 'Editar Ingreso'),:class => 'btn btn-mini btn-success active'%>
  </div>
<% end %>
