<h1>Lista Ingresos</h1>
<div align="right">
  <%= form_tag({:controller => "ingresos", :action => "index"}, :method => :get) do %>
    Buscar Ingresos: &nbsp;&nbsp;Desde&nbsp; <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Fecha Ingreso aaaa-mm-dd", :name => 'palabra' %> &nbsp;&nbsp;Hasta&nbsp; <%= text_field_tag "searchbox2", params[:searchbox2], :placeholder => "Fecha Ingreso aaaa-mm-dd", :name => 'palabra2' %> &nbsp;&nbsp;&nbsp;
    <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-mini' %>
  <% end %>
</div><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Montobs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingresos.each do |ingreso| %>
      <tr>
        <td><%= ingreso.id %></td>
        <td><%= ingreso.fecha %></td>
        <td><%= ingreso.concepto %></td>
        <td><%= ingreso.montoBs %></td>
        <td><%= link_to 'Editar', edit_ingreso_path(ingreso), :class => 'btn btn-mini btn-warning active' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Ingreso', new_ingreso_path,:class => 'btn btn-mini btn-success active' %>
