<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @ingreso.id %>
</p>

<p>
  <strong>Montobs:</strong>
  <%= @ingreso.montoBs %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @ingreso.concepto %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ingreso.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ingreso.estado %>
</p>

<%= link_to 'Atras', ingresos_path,:class => 'btn btn-mini btn-default' %>
