<%= form_for(@conyugue) do |f| %>
  <% if @conyugue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conyugue.errors.count, "error") %> prohibited this conyugue from being saved:</h2>

      <ul>
      <% @conyugue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <input type="hidden" name="interno_id" value="<%= @id %>" >
  
 
  <div class="field">
    <%= f.label :nombre, 'Nombre (*)' %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido1, 'Apellido Paterno (*)' %>   <br>
    <%= f.text_field :apellido1 %>
  </div>
  <div class="field">
     <%= f.label :apellido1, 'Apellido Materno' %><br>
    <%= f.text_field :apellido2 %>
  </div>
  <div class="field">
    <%= f.label :ci, 'CI (*)' %><br>
    <%= f.text_field :ci %>
  </div>
  <div class="field">
    <%= f.label :lugarNacimiento, 'Lugar de Nacimiento (*)' %><br>
    <%= f.text_field :lugarNacimiento %>
  </div>
  <div class="field">
    <%= f.label :fechaNacimiento, 'Fecha de Nacimiento' %><br>
    <%= f.date_select :fechaNacimiento, { order: [ :day, :month, :year], :start_year => Time.now.year-18, :end_year => Time.now.year-70} %>
   
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :direccion, 'Direccion (*)' %><br>
    <%= f.text_area :direccion %>
  </div>

  

  <div class="actions">
    <%= f.submit (@conyugue.new_record? ? 'Registrar Conyugue' : 'Guardar Conyugue') , :class => "btn btn-mini btn-success" %> 
  </div>
<% end %>
