<h1>Lista de Conyugues</h1>


<%= form_tag("/conyugues", method: "get") do %>
   

  <div id="the-basics" align="right"> 
    <input class="typeahead" type="text" name="palabra" placeholder="Inserte el dato a buscar"><br>
  </div>  

  <div align="right">
    <input type="submit" value="Buscar Conyugue">
  </div>

  <script type="text/javascript">
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });

    cb(matches);
  };
};

<% @prueba=(@conyugues.map(&:nombre)+@conyugues.map(&:apellido1)+@conyugues.map(&:apellido2)).to_json.html_safe %>
var states = <%= @prueba %>;

$('#the-basics .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(states)
});
</script>

<% end %>



 









<table class="table table-striped">
  <thead>
    <tr>
      <th>CI De Interno</th>
      <th>Estado</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conyugues.each do |conyugue| %>
      <tr>
        <td></td>
        <td><%= conyugue.estado %></td>
        <td><%= conyugue.nombre %></td>
        <td><%= conyugue.apellido1 %></td>
        <td><%= conyugue.apellido2 %></td>
        <td><%= link_to 'Ver Conyugue', conyugue, :class => 'btn btn-mini btn-info active'  %></td>
        <td><%= link_to 'Editar Conyugue', edit_conyugue_path(conyugue),  :class => 'btn btn-mini btn-warning active'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Producto', new_conyugue_path, :class => 'btn btn-mini btn-success active' %>

<h4><%= link_to 'Atras', welcome_index_path, :class => 'btn btn-mini btn-default'  %></h4>
