<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @conyugue.estado %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @conyugue.nombre %>
</p>

<p>
  <strong>Apellido1:</strong>
  <%= @conyugue.apellido1 %>
</p>

<p>
  <strong>Apellido2:</strong>
  <%= @conyugue.apellido2 %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @conyugue.ci %>
</p>

<p>
  <strong>Lugarnacimiento:</strong>
  <%= @conyugue.lugarNacimiento %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @conyugue.fechaNacimiento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @conyugue.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @conyugue.direccion %>
</p>

<%= link_to 'Edit', edit_conyugue_path(@conyugue) %> |
<%= link_to 'Back', conyugues_path %>
