<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @conyugue.estado == true ? 'Habilitado'  : 'Deshabilitado' %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @conyugue.nombre %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @conyugue.apellido1 %>
</p>

<p>
  <strong>Apellido Materno:</strong>
  <%= @conyugue.apellido2 %>
</p>

<p>
  <strong>CI:</strong>
  <%= @conyugue.ci %>
</p>

<p>
  <strong>Lugar de Nacimiento:</strong>
  <%= @conyugue.lugarNacimiento %>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @conyugue.fechaNacimiento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @conyugue.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @conyugue.direccion %>
</p>
<br>
<%= link_to 'Editar Conyugue', edit_conyugue_path(@conyugue), :class => 'btn btn-mini btn-info active'  %>
<br> <br>
<%= link_to 'Atras', conyugues_path, :class => 'btn btn-mini btn-default' %>
