<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<input type="hidden" name="interno_id" value="<%= @id %>" >

  <table align="center" width="80%">
  <tr>
      <td>
          <div class="field" align="center">
            <%= f.label :nombre , 'Nombre (*)'%><br>
            <%= f.text_field :nombre %>
          </div>
      </td>
      <td>
          <div class="field" align="center">
            <%= f.label :apellido1, 'Apellido Paterno (*)' %><br>
            <%= f.text_field :apellido1 %>
          </div>
      </td>
  </tr>
  <tr>
      <td>
          <div class="field" align="center">
            <%= f.label :apellido2, 'Apellido Materno ' %><br>
            <%= f.text_field :apellido2 %>
          </div>
      </td>
      <td>
          <div class="field" align="center">
            <%= f.label :sexo, 'Sexo (*)' %><br>
            <%= f.select :sexo, ['','Masculino', 'Femenino'] %>
          </div>
      </td>
  </tr>
  <tr>
      <td>
          <div class="field" align="center">
            <%= f.label :ci, 'CI (*)' %><br>
            <%= f.number_field :ci %>
          </div>
      </td>
      <td>
          <div class="field" align="center">
            <%= f.label :telefono %><br>
            <%= f.number_field :telefono %>
          </div>
      </td>
    </tr>
    <tr>
    <td>
      <div class="field" align="center">
        <%= f.label :direccion , 'Direccion (*)'%><br>
        <%= f.text_area :direccion %>
      </div>

  </td>
  </tr>
  </table>

  <br>
  <div align="center">
    <label>* Los campos con asterisco, son obligatorios. </label>
  </div><br><br>

 
  <div align="center">
  <div class="actions" align="center">
    <%= f.submit (@contact.new_record? ? 'Registrar Referencia' : 'Guardar Referencia') , :class => "btn btn-sm btn-success" %> |
    <% if @contact.interno_id==nil%>
      <%= link_to 'Retornar a internos',  :back, :class => 'btn btn-sm btn-default' %>
    <% else %>
      <a class='btn btn-sm btn-default' href=<%="/internos/"%>+<%=@contact.interno_id%> >Retornar a interno</a> 
    <% end %>
  </div>
<% end %>
