<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<input type="hidden" name="interno_id" value="<%= @id %>" >

  
  <div class="field" align="center">
    <%= f.label :nombre , 'Nombre (*)'%><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field" align="center">
    <%= f.label :apellido1, 'Apellido Paterno (*)' %><br>
    <%= f.text_field :apellido1 %>
  </div>
  <div class="field" align="center">
    <%= f.label :apellido2, 'Apellido Materno ' %><br>
    <%= f.text_field :apellido2 %>
  </div>
  <div class="field" align="center">
    <%= f.label :sexo, 'Sexo (*)' %><br>
    <%= f.select :sexo, ['','Masculino', 'Femenino'] %>
  </div>
  <div class="field" align="center">
    <%= f.label :ci, 'CI (*)' %><br>
    <%= f.number_field :ci %>
  </div>
  <div class="field" align="center">
    <%= f.label :telefono %><br>
    <%= f.number_field :telefono %>
  </div>
  <div class="field" align="center">
    <%= f.label :direccion , 'Direccion (*)'%><br>
    <%= f.text_area :direccion %>
  </div>
  <div class="actions" align="center">
    <%= f.submit (@contact.new_record? ? 'Registrar Referencia' : 'Guardar Referencia') , :class => "btn btn-mini btn-success" %>
  </div>
<% end %>
