<%= form_for(@court_order) do |f| %>
  <% if @court_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@court_order.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @court_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<input type="hidden" name="interno_id" value="<%= @id %>" >
  <div class="field" align="center">
    <%= f.label :numero, 'Numero de Orden Judicial (*)' %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="field" align="center">
    <%= f.label :descripcion, 'Descripcion de Orden Judicial (*)'%><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field" align="center">
    <%= f.label :estado %><br>
    <%= f.check_box :estado %>
  </div>
 
  <div class="actions" align="center">
    <%= f.submit  (@court_order.new_record? ? 'Registrar Orden Judicial' : 'Guardar Orden Judicial') , :class => "btn btn-mini btn-success" %>
  </div>
<% end %>
