<%= form_for(@court_order) do |f| %>
  <% if @court_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@court_order.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @court_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <input type="hidden" name="interno_id" value="<%= @id %>" >
<table align="center" width="80%">
  <tr>
    <td>
      <div class="field" align="center">
        <%= f.label :numero, 'Numero de Orden Judicial *' %><br>
        <%= f.text_field :numero %>
      </div>
    </td>
    <td>
      <div class="field" align="center">
        <%= f.label :descripcion, 'Descripcion de Orden Judicial *'%><br>
        <%= f.text_area :descripcion %>
      </div>
    </td>
    <tr>
      
    </tr>
    <td>
          <div class="field" align="center">
            <%= f.label :estado %><br>
            <%= f.check_box :estado %>
          </div>
     </td>
  </tr>
</table>
<br>
  <div align="center">
    <label>* Los campos con asterisco, son obligatorios. </label>
  </div><br><br>
<div align="center">
  <div class="actions" align="center">
    <%= f.submit  (@court_order.new_record? ? 'Registrar Orden Judicial' : 'Guardar Orden Judicial') , :class => "btn btn-mini btn-success" %> | 
    <% if @court_order.interno_id==nil%>
      <%= link_to 'Retornar a internos',  :back, :class => 'btn btn-mini btn-default' %>
    <% else %>
      <a class='btn btn-mini btn-default' href=<%="/internos/"%>+<%=@court_order.interno_id%> >Retornar a interno</a>
    <% end %>
  </div>
<% end %>
