<p id="notice"><%= notice %></p>
<br><br>
<div align="right">
	<a class='btn btn-mini btn-default' href=<%="/internos/"%>+<%=@court_order.interno_id%> >Retornar a interno</a>
</div>
<br>

<div class="jumbotron" align="center">
<p>
  <strong>Numero de orden:</strong>
  <%= @court_order.numero %>
</p>

<p>
  <strong>Interno:</strong>
  <%= @court_order.interno.nombre %>&nbsp<%= @court_order.interno.apellido1 %>&nbsp<%= @court_order.interno.apellido2 %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @court_order.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <% if(@court_order.estado==true) %>
  	<%= 'Activo' %>
  <% else %>
  	<%= 'Inactivo' %>
  <%end%>
</p>
</div>


<% link_to 'Atras', court_orders_path, :class => 'btn btn-mini btn-default'  %>

