<p id="notice"><%= notice %></p>

<p>
  <strong>Numero de orden:</strong>
  <%= @court_order.numero %>
</p>

<p>
  <strong>Interno:</strong>
  <%= @court_order.interno.nombre %>&nbsp<%= @court_order.interno.apellido1 %>&nbsp<%= @court_order.interno.apellido2 %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @court_order.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @court_order.estado %>
</p>



<%= link_to 'Atras', court_orders_path, :class => 'btn btn-mini btn-default'  %>
