<h1>Lista de Egreso Produccion</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Egreso</th>
      <th>Produccion</th>
      <th>Observaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @egreso_produccions.each do |egreso_produccion| %>
      <tr>
        <td><%= egreso_produccion.egreso_id %></td>
        <td><%= egreso_produccion.produccion_id %></td>
        <td><%= egreso_produccion.observaciones %></td>
        <td><%= link_to 'Ver Egreso Produccion', egreso_produccion, :class => 'btn btn-mini btn-info active' %></td>
        <td><%= link_to 'Editar Egreso Produccion', edit_egreso_produccion_path(egreso_produccion), :class => 'btn btn-mini btn-warning active' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<%= link_to 'Registrar Egreso Produccion', new_egreso_produccion_path, :class => 'btn btn-mini btn-success active' %>
