<%= form_for(@voluntario) do |f| %>
  <% if @voluntario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voluntario.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @voluntario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ci ,'Ci *' %><br>
    <%= f.text_field :ci %>
  </div>
  <div class="field">
    <%= f.label :nombre,'Nombre *' %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido1, 'Apellido Paterno *' %><br>
    <%= f.text_field :apellido1 %>
  </div>
  <div class="field">
    <%= f.label :apellido2, 'Apellido Materno *' %><br>
    <%= f.text_field :apellido2 %>
  </div>  
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.number_field :telefono %>
  </div>    
  <div class="field">
    <%= f.label :NivelConfianza, 'Nivel de Confianza 0-100 *' %><br>
    <%= f.number_field :NivelConfianza %>
  </div>

  <div class="actions">
    <%= f.submit (@voluntario.new_record? ? 'Registrar Voluntario' : 'Editar Voluntario'),:class => 'btn btn-mini btn-success active' %>
  </div>
<% end %>
