<p id="notice"><%= notice %></p>
<div  class="jumbotron" align="center">
<p>
  <strong>Ci:</strong>
  <%= @voluntario.ci %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @voluntario.nombre %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @voluntario.apellido1 %>
</p>

<p>
  <strong>Apellido Materno:</strong>
  <%= @voluntario.apellido2 %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @voluntario.sexo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @voluntario.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @voluntario.telefono %>
</p>

<p>
  <strong>Nivel de confianza 0-100:</strong>
  <%= @voluntario.NivelConfianza %>
</p>
</div>
<%= link_to 'Atras', voluntarios_path , :class => 'btn btn-mini btn-default' %>
