<%= form_for(@gasto_interno) do |f| %>
  <% if @gasto_interno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gasto_interno.errors.count, "error") %> prohibited this gasto_interno from being saved:</h2>

      <ul>
      <% @gasto_interno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :concepto %><br>
    <%= f.text_field :concepto %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :interno_id %><br>
    <%= f.text_field :interno_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
