<%= form_for(@egreso_interno) do |f| %>
  <% if @egreso_interno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@egreso_interno.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @egreso_interno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="interno_id" value="<%= @id %>" >
  <br>
  <table>
    <tr>
      <td>
        <div class="field">
          <%= f.label :concepto, 'Concepto *' %><br>
          <%= f.text_field :concepto %>
        </div>
      </td>
      <td width="100px"></td>
      <td>
        <div class="field">
          <%= f.label :monto, 'Monto Bs. *' %><br>
          <%= f.text_field :monto %>
        </div>
      </td>
    </tr>
    <tr height="15px"></tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :observaciones %><br>
          <%= f.text_area :observaciones %>
        </div>
      </td>
      <td width="100px"></td>
      <td>
        <div class="field">
          <%= f.label :fecha, 'Fecha *' %><br>
          <%= f.date_select :fecha %>
        </div>
      </td>
    </tr>
  </table>
  <br><br>
  <div>
    <label>* Los campos con asterisco, son obligatorios. </label>
  </div><br><br>
  <div class="actions" align="center">
    <%= f.submit (@egreso_interno.new_record? ? 'Registrar Egreso Interno' : 'Editar Egreso Interno') , :class => "btn btn-sm btn-success" %> |
    <%= link_to 'Retornar a Internos', :back, :class => 'btn btn-sm btn-default' %>
  </div>
<% end %>
