<center>
  <h1>Egresos de <%= @egreso_interno.interno.nombre %> </h1><br>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Concepto:</strong>
    <%= @egreso_interno.concepto %>
  </p>

  <p>
    <strong>Monto Bs.:</strong>
    <%= @egreso_interno.monto %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= @egreso_interno.observaciones %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @egreso_interno.fecha.strftime("%d/%m/%Y") %>
  </p>
  <br><br>
  <%= link_to 'Atras', :back, :class => 'btn btn-mini btn-default' %>
</center>
