S<%= form_for(@citum) do |f| %>
  <% if @citum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citum.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @citum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha, 'Fecha (*)' %><br>
    <%= f.date_select :fecha, :start_year =>2015, :last_year =>2016%>
  </div>
  <div class="field">
    <%= f.label :hora,'Hora (*)' %><br>
    <%= f.time_select :hora %>
  </div>
  <div class="field">
    <%= f.label :ubicación,'ubicación (*)' %><br>
    <%= f.text_area :ubicación %>
  </div>
  <div class="field">
    <%= f.label :nombrecontacto,'Nombre del Contacto (*)' %><br>
    <%= f.text_field :nombreDonante %>
  </div>
  <div class="field">
    <%= f.label :descripcionDonacion %><br>
    <%= f.text_area :descripcionDonacion %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.select :estado, ['Pendiente','Cancelada','Concretada'] %>
  </div>  

  <div class="actions">
      <%= f.submit (@citum.new_record? ? 'Registrar Cita' : 'Editar Cita'),:class => 'btn btn-mini btn-success active'%>
  </div>
<% end %>
