<h1>Lista de Cita</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cita.each do |citum| %>
      <tr>
        <td><%= citum.fecha %></td>
        <td><%= citum.hora %></td>
        <td><%= link_to 'Mostrar', citum, :class => 'btn btn-mini btn-info active'%></td>
        <td><%= link_to 'Editar', edit_citum_path(citum), :class => 'btn btn-mini btn-warning active'%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Cita', new_citum_path,:class => 'btn btn-mini btn-success active' %>
<%= link_to 'Inicio', root_path, :class => 'btn btn-mini btn-default'  %>

