<% if params[:palabra]==nil ||  params[:palabra]== '' && params[:estado]==nil && params[:estado]=='' %>
  <h1>Citas para hoy</h1>
<%else%>
  <h1>Historial de Citas</h1>
<%end%>
<% if params[:estado]!=nil &&  params[:estado]!= '' %>
  <h1><%= params[:estado]+'s'%> </h1>
<%end%>
<%if params[:palabra]!='' && params[:palabra]!= nil%>
  Desde <%=params[:palabra]%>&nbsp;
<%end%>
<%if params[:palabra2]!='' && params[:palabra]!= nil%>
  Hasta <%=params[:palabra2]%>
<%end%>
<div align="right">
    <%= form_tag({:controller => "cita", :action => "index"}, :method => :get) do %>
      Estado: <%= select_tag "estado", options_for_select(['', 'Concretada', 'Cancelada', 'Pendiente','Enviado'])%>
      Fecha Inicio: <%= text_field_tag "search", params[:search], :name => 'palabra', :placeholder => "dia/mes/año", :class => 'datepicker' %>
      Fecha Fin: <%= text_field_tag "search", params[:search], :name => 'palabra2', :placeholder => "dia/mes/año", :class => 'datepicker' %>
      <%= submit_tag "Buscar Citas Entre Fechas", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
</div><br>
<table class="table table-striped">
  <thead>
    <tr>
      <% if params["estado"] == nil %>
      <% @estado=''%>
      <% else%>
      <% @estado= "&estado="+params["estado"]%>
      <%end%>
      <% if @page == nil %>
      <% @page=1 %> 
      <%end%>
      <% if @page.to_i > 1 %>
      <%= link_to 'Anterior','/cita?&page='+(@page.to_i-1).to_s+'&palabra='+@palabra.to_s+'&palabra2='+@palabra2.to_s+@estado, :class => 'btn btn-mini btn-default' %>
      <%end%>
      <% if @page.to_i*5 < @cita.length %>
        <% if @cita.length%5 >0 %>
          <% @sumax=1%>
        <% else %>
          <% @sumax=0%>
        <% end %>
       pagina <%= @page%> de <%= (@cita.length/5)+@sumax %> <%= link_to 'Siguiente','/cita?&page='+(@page.to_i+1).to_s+'&palabra='+@palabra.to_s+'&palabra2='+@palabra2.to_s+@estado, :class => 'btn btn-mini btn-default' %>
      <%end%>
    </tr>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Ubicacion</th>
      <th>Nombre Contacto</th>            
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cita.each_with_index do |citum, index| %>
      <% if index < @page.to_i*5 && index >= (@page.to_i-1)*5%>     
      <tr>
        <td><%= citum.fecha %></td>
        <td><%= citum.hora.strftime("%I:%M %p") %></td>
        <td><%= citum.ubicación %></td>
        <td><%= citum.nombreDonante %></td>
        <td>
          <% if params[:estado]==nil ||  params[:estado]== '' %>

            <% if citum.estado == 'Concretada' %>
              <strong style="color:#04B431">Concretada</strong>
            <%end%>
            <% if citum.estado == 'Cancelada' %>
              <strong style="color:#DF3A01">Cancelada</strong>
            <%end%>        
            <% if citum.estado == 'Pendiente' %>
              <strong style="color:#DF7401">Pendiente</strong>
            <%end%>
            <% if citum.estado == 'Enviado' %>
              <strong style="color:#04B431">Enviado</strong>
            <%end%>
          <%end%>
        </td>
        <% if citum.estado != 'Pendiente' %>
          <td id="botones"><%= link_to 'Ver', citum, :class => 'btn btn-mini btn-info active'%> <%= link_to 'Editar', edit_citum_path(citum), :class => 'btn btn-mini btn-warning active'%></td>
        <%end%>
        <% if citum.estado == 'Pendiente' %>
          <td id="botones"><%= link_to 'Ver', citum, :class => 'btn btn-mini btn-info active'%> <%= link_to 'Editar/Enviar', edit_citum_path(citum), :class => 'btn btn-mini btn-warning active'%></td>                   
        <%end%>       
        
      </tr>
      <% end%>
    <% end %>
  </tbody>
</table>
<script>
  $('.datepicker').datepicker({
    weekStart:1,
  }).on('changeDate', function(e){
    $(this).datepicker('hide');
  });
</script>
<br>

<%= link_to 'Agregar Cita', new_citum_path,:class => 'btn btn-mini btn-success active' %>

