<% if params[:palabra]==nil ||  params[:palabra]== '' %>
  <h1>Citas para hoy</h1>
<%else%>
  <h1>Historial de Citas</h1>
<%end%>
<% if params[:estado]!=nil ||  params[:estado]!= '' %>
  <h1><%= params[:estado]%> </h1>
<%end%>

<div align="right">
    <%= form_tag({:controller => "cita", :action => "index"}, :method => :get) do %>
      Estado: <%= select_tag "estado", options_for_select(['', 'Concretada', 'Cancelada', 'Pendiente','Enviado'])%>
      Fecha Inicio: <%= text_field_tag "search", params[:search], :name => 'palabra', :placeholder => "dia/mes/año", :class => 'datepicker' %>
      Fecha Fin: <%= text_field_tag "search", params[:search], :name => 'palabra2', :placeholder => "dia/mes/año", :class => 'datepicker' %>
      <%= submit_tag "Buscar Citas Entre Fechas", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
</div><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Ubicacion</th>
      <th>Nombre Contacto</th>            
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cita.each do |citum| %>
      <tr>
        <td><%= citum.fecha %></td>
        <td><%= citum.hora.strftime("%I:%M %p") %></td>
        <td><%= citum.ubicación %></td>
        <td><%= citum.nombreDonante %></td>
        <td>
          <% if params[:estado]==nil ||  params[:estado]== '' %>

            <% if citum.estado == 'Concretada' %>
              <strong style="color:#04B431">Concretada</strong>
            <%end%>
            <% if citum.estado == 'Cancelada' %>
              <strong style="color:#DF3A01">Cancelada</strong>
            <%end%>        
            <% if citum.estado == 'Pendiente' %>
              <strong style="color:#DF7401">Pendiente</strong>
            <%end%>
            <% if citum.estado == 'Enviado' %>
              <strong style="color:#04B431">Enviado</strong>
            <%end%>
          <%end%>
        </td>
        <% if citum.estado != 'Pendiente' %>
          <td><%= link_to 'Ver', citum, :class => 'btn btn-mini btn-info active'%> <%= link_to 'Editar', edit_citum_path(citum), :class => 'btn btn-mini btn-warning active'%></td>
        <%end%>
        <% if citum.estado == 'Pendiente' %>
          <td><%= link_to 'Ver', citum, :class => 'btn btn-mini btn-info active'%> <%= link_to 'Editar/Enviar', edit_citum_path(citum), :class => 'btn btn-mini btn-warning active'%></td>                   
        <%end%>       
        
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $('.datepicker').datepicker({
    weekStart:1,
  }).on('changeDate', function(e){
    $(this).datepicker('hide');
  });
</script>
<br>

<%= link_to 'Agregar Cita', new_citum_path,:class => 'btn btn-mini btn-success active' %>

