<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @citum.hora %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @citum.ubicación %>
</p>

<p>
  <strong>Nombredonante:</strong>
  <%= @citum.nombreDonante %>
</p>

<p>
  <strong>Descripciondonacion:</strong>
  <%= @citum.descripcionDonacion %>
</p>

<%= link_to 'Edit', edit_citum_path(@citum) %> |
<%= link_to 'Back', cita_path %>
