<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @citum.id %>
</p>

<% if @citum.voluntario_id != nil  %>
  <p><strong>Voluntario: 
</strong> <%= @citum.voluntario.full_name %></p>
<%end%>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @citum.hora.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @citum.ubicación %>
</p>

<p>
  <strong>Nombre Contacto:</strong>
  <%= @citum.nombreDonante %>
</p>

<p>
  <strong>Telefono de Referencia:</strong>
  <%= @citum.telefono %>
</p>

<p>
  <strong>Descripcion donacion:</strong>
  <%= @citum.descripcionDonacion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @citum.estado %>
</p>

<%= link_to 'Atras', cita_path , :class => 'btn btn-mini btn-default'  %>