<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @citum.id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @citum.hora %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @citum.ubicación %>
</p>

<p>
  <strong>Nombredonante:</strong>
  <%= @citum.nombreDonante %>
</p>

<p>
  <strong>Descripciondonacion:</strong>
  <%= @citum.descripcionDonacion %>
</p>

<%= link_to 'Editar', edit_citum_path(@citum) , :class => 'btn btn-mini btn-default'  %> |
<%= link_to 'Atras', cita_path , :class => 'btn btn-mini btn-default'  %>
<!-- <%= link_to 'Inicio', root_path, :class => 'btn btn-mini btn-default'  %> -->
