<%= form_for(@interno) do |f| %>
  <% if @interno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interno.errors.count, "error") %> prohibited this interno from being saved:</h2>

      <ul>
      <% @interno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido1 %><br>
    <%= f.text_field :apellido1 %>
  </div>
  <div class="field">
    <%= f.label :apellido2 %><br>
    <%= f.text_field :apellido2 %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :ci %><br>
    <%= f.number_field :ci %>
  </div>
  <div class="field">
    <%= f.label :estadoCivil %><br>
    <%= f.text_field :estadoCivil %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_area :direccion %>
  </div>
  <div class="field">
    <%= f.label :zona %><br>
    <%= f.text_field :zona %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.number_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :fechaNacimiento %><br>
    <%= f.date_select :fechaNacimiento %>
  </div>
  <div class="field">
    <%= f.label :lugarNacimiento %><br>
    <%= f.text_field :lugarNacimiento %>
  </div>
  <div class="field">
    <%= f.label :estudios %><br>
    <%= f.text_field :estudios %>
  </div>
  <div class="field">
    <%= f.label :profesion %><br>
    <%= f.text_field :profesion %>
  </div>
  <div class="field">
    <%= f.label :oficio %><br>
    <%= f.text_field :oficio %>
  </div>
  <div class="field">
    <%= f.label :fechaIngreso %><br>
    <%= f.date_select :fechaIngreso %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
