<%= form_for(@interno) do |f| %>
  <% if @interno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interno.errors.count, "error") %> prohibited this interno from being saved:</h2>

      <ul>
      <% @interno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        



  <table width="100%" >
    <tr height= "80 px">
      <td >

      </td>

      <td width="33%" align="center">
        <div class="field" >
          <%= f.label :fechaIngreso, 'Fecha de Ingreso (*)' %><br>
          <%= f.date_select :fechaIngreso,  {order: [ :day, :month, :year],:start_year => Time.now.year, :end_year => 2000} %>
        </div>
      </td>

      <td>
      </td>
    </tr>


    <tr height= "60 px">
      <td width="33%" align="center" >
        <div class="field">
          <%= f.label :nombre, 'Nombre (*)' %><br>
          <%= f.text_field :nombre %>
        </div>
      </td>

      <td width="33%" align="center">
        <div class="field">
          <%= f.label :apellido1, 'Apellido Paterno (*)' %><br>
          <%= f.text_field :apellido1 %>
        </div>
      </td>

      <td width="33%" align="center">
        <div class="field">
          <%= f.label :apellido2, 'Apellido Materno' %><br>
          <%= f.text_field :apellido2 %>
        </div>
      </td>
    </tr>


    <tr height= "80 px">
      <td width="33%" align="center">  
        <div class="field">
          <%= f.label :sexo, 'Sexo (*)' %><br>
          <%= f.select :sexo, ['','Masculino', 'Femenino'] %>
        </div>
      </td>

      <td width="33%" align="center">
        <div class="field">
          <%= f.label :ci, 'C.I. (*)' %><br>
          <%= f.number_field :ci %>
        </div>
      </td>

      <td width="33%" align="center">
        <div class="field">
          <%= f.label :estadoCivil, 'Estado Civil (*)' %><br>
          <%= f.select :estadoCivil, ['','Soltero', 'Casado', 'Viudo', 'Divorciado'] %>
        </div>
      </td>
    </tr>


    <tr height= "80 px">
      <td width="33%" align="center">
        <div class="field">
          <%= f.label :direccion, 'Direccion (*)' %><br>
          <%= f.text_area :direccion %>
        </div>
      </td>
      
      <td width="33%" align="center">
        <div class="field">
          <%= f.label :zona %><br>
          <%= f.text_field :zona %>
        </div>
      </td>
      
      <td width="33%" align="center">
        <div class="field">
          <%= f.label :telefono %><br>
          <%= f.number_field :telefono %>
        </div>
      </td>
    </tr>

    <tr height= "80 px">
      <td width="33%" align="center">
        <div class="field">
          <%= f.label :fechaNacimiento, 'Fecha de Nacimiento' %><br>
          <%= f.date_select :fechaNacimiento, {order: [ :day, :month, :year], :start_year => Time.now.year-18, :end_year => Time.now.year-70} %>
        </div>
      </td>

      <td width="33%" align="center">
        <div class="field">
          <%= f.label :lugarNacimiento, 'Lugar de Nacimiento (*)' %><br>
          <%= f.select :lugarNacimiento, ['','
            DEPARTAMENTO DE COCHABAMBA','Arani','Arque','Provincia Ayopaya','Bolívar','Capinota','Carrasco','Rodeado','Chapare','Esteban Arce','Germán Jordán','Provincia Mizque','Narciso Campero','Punata','Quillacollo','Tapacarí','Tiraque','','','
            
            DEPARTAMENTO DE SANTA CRUZ','ndrés Ibáñez','Provincia Ángel Sandoval','Chiquitos','Cordillera','Florida','Germán Busch','Guarayos','Ichilo','Ignacio Warnes','José Miguel de Velasco','Manuel María Caballero','Ñuflo de Chávez','Provincia obispo Santistevan','Sara Vallegrande','','',' 

            DEPARTAMENTO DE LA PAZ','Abel Iturralde','Aroma','Bautista Saavedra','Caranavi','Eliodoro Camacho','Franz Tamayo','Gualberto Villarroel','Provincia Ingavi','Provincia de Inquisivi','José Manuel Pando','José Ramón Loayza','Provincia de Larecaja','Los Andes','Provincia Manco Kapac','Provincia de muñecas','Nor Yungas','Provincia Omasuyos','Provincia Pacajes','Pedro Domingo Murillo','Sud Yungas','Lago Titicaca','','','

            DEPARTAMENTO DE BENI','Provincia de Cercado','Provincia Iténez','José Ballivián ','Mamoré','Provincia Marbán','Moxos','Vaca Díez','Yacuma','','','

            DEPARTAMENTO DE CHUQUISACA','Provincia de Belisario Boeto','Provincia de Hernando Siles','Provincia de Jaime Zudáñez','Provincia de Juana Azurduy de Padilla','Provincia de Luis Calvo','Provincia de Nor Cinti','Provincia de Oropeza','Provincia de Sud Cinti','Provincia de Tomina','Provincia de Yamparáez','','','
            
            DEPARTAMENTO DE ORURO','Atahuallpa','Provincia de Carangas','Rodeado','Eduardo Avaroa','Ladislao Cabrera','Costa','Nor Carangas','Pantaleón Dalence','Poopó','Puerto de Mejillones','Sajama','San Pedro de Totora','La provincia Saucarí','Provincia Sebastián Pagador','Provincia Sud Carangas','omas Barrón','','','
            
            DEPARTAMENTO DE PANDO','Provincia de Abuná','Federico Román','Madre de Dios','Provincia Manuripi','Nicolás Suárez','','','
            DEPARTAMENTO DE POTOSI','Alonso de Ibáñez','Antonio Quijarro','Bernardino Bilbao','Charcas','Provincia Chayanta','Cornelio Saavedra','Daniel Fields','Enrique Baldivieso','José María Linares','Modesto Omiste','Nor Chichas','Nor Lípez','Rafael Bustillo','Provincia de Sud Chichas','Sud Lípez','Tomás Frías','','','
                
            DEPARTAMENTO DE TARIJA','Aniceto Arce','Provincia de Burdet O’Connor','Provincia de Cercado','Eustaquio Méndez','Gran Chaco','José María Avilés'] %>
        </div>
      </td>

      <td width="33%" align="center">
        <div class="field">
          <%= f.label :estudios %><br>
          <%= f.text_field :estudios %>
        </div>
      </td>
    </tr>


    <tr height= "80 px">
      <td width="33%" align="center">
        <div class="field">
          <%= f.label :profesion %><br>
          <%= f.text_field :profesion %>
        </div>
      </td>

      <td width="33%" align="center">
        <div class="field">
          <%= f.label :oficio %><br>
          <%= f.text_field :oficio %>
        </div>
      </td>
    </tr>


  </table>
     <div class="actions">
          <%= f.submit (@interno.new_record? ? 'Registrar Interno' : 'Guardar Interno') , :class => "btn btn-mini btn-success" %>
        </div>
<% end %>
