<h2>Editar Interno</h2>


<%= form_for(@interno) do |f| %>
	  
	  <div class="field" align="center">
		    <%= f.label :state, 'Estado *' %><br>
		    <%= f.select :state, ['Activo', 'Inactivo'] %>
	  </div><br>
	  <%= render 'form' %>
	  
	<% end %>

<%= link_to 'Internos', internos_path, :class => 'btn btn-mini btn-default'  %>
</div>