<h1>Lista de Internos</h1>

<%= form_tag("/internos", method: "get") do %>
   

  <div id="the-basics" align="right"> 
    <input class="typeahead" type="text" name="palabra" placeholder="Inserte el dato a buscar"><br>
  </div>  

  <div align="right">
    <input type="submit" value="Buscar Interno">
  </div>

  <script type="text/javascript">
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });

    cb(matches);
  };
};

<% @prueba=(@internos.map(&:full_name)).to_json.html_safe %>
var states = <%= @prueba %>;

$('#the-basics .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(states)
});
</script>

<% end %>






<table class="table table-striped">
  <thead>
    <tr >
      <th width="10%">Nombre</th>
      <th width="11%">Apellido Paterno</th>
      <th width="11%">Apellido Materno</th>
      <th width="10%">CI</th>
      <th width="10%">Fecha De Ingreso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internos.each do |interno| %>
      <tr >
        <td><%= interno.nombre %></td>
        <td><%= interno.apellido1 %></td>
        <td><%= interno.apellido2 %></td>
        <td><%= interno.ci %></td>
        <td><%= interno.fechaIngreso.strftime("%d, %B, %Y") %></td>
        <td width="10%" align="center"><%= link_to 'Ver Interno', interno, :class => 'btn btn-mini btn-info active'  %></td>
        <td width="9%" align="center"><%= link_to 'Editar Interno', edit_interno_path(interno), :class => 'btn btn-mini btn-warning active'  %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<h4><%= link_to 'Registrar Interno', new_interno_path,:class => 'btn btn-mini btn-success active' %></h4>
<h4><%= link_to 'Atras', welcome_index_path, :class => 'btn btn-mini btn-default'  %></h4>







