<html>
    <head>
        <title>Interno</title>
          
          <style type="text/css">
            div.visibleDiv
                {
                position: fixed;
                top: 20%;
                left: 1%;
                text-align: left;
                }
            #der 
                {  
                text-align: right; width: 30%;
                }
            #arriba
                {
                vertical-align:top;
                }
          </style>

          <script src="chartkick.js"></script>
          <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

    </head>

<p id="notice"><%= notice %></p>
<h2 align="center">VER INTERNO</h2>





<table >
  <tr>
      <td width="auto" rowspan="15" valign="top">
          <div >

              <% if @conyugue== nil %>
                <%= link_to 'Registrar Conyugue', pareja_path(@interno.id),:class => 'btn btn-mini btn-success active' %><br><br>
              <% end %>

              <% if @conyugue != nil %> 
                  <%= link_to 'Editar Conyugue', edit_conyugue_path(@conyugue.id), :class => 'btn btn-mini btn-warning active'    %><br><br>
                  <%= link_to 'Borrar Conyugue', @conyugue, :class => 'btn btn-mini btn-success active', method: :delete, data: { confirm: 'Esta usted seguro?' } %><br><br>
              <% end %>

              
              <%= link_to 'Registrar Hijo', fis_path(@interno.id),:class => 'btn btn-mini btn-success active' %><br><br>
              

              <%= link_to 'Registrar Conducta', memo_path(@interno.id),:class => 'btn btn-mini btn-success active' %><br><br>
                

               <% if @contact== nil %>
                <%= link_to 'Registrar Referencia', contacto_path(@interno.id),:class => 'btn btn-mini btn-success active' %><br><br>
              <% end %>

              <%= link_to 'Registrar Orden Judicial',  orden_path(@interno.id),:class => 'btn btn-mini btn-success active' %><br><br>
              <%= link_to 'Registrar Rehabilitacion',  rehaba_path(@interno.id),:class => 'btn btn-mini btn-success active' %><br><br>
              <%= link_to 'Registrar Historia Clinica',  historia_path(@interno.id),:class => 'btn btn-mini btn-success active' %><br><br>
              <%= link_to 'Registrar Egreso Interno',  egreso_inter_path(@interno.id),:class => 'btn btn-mini btn-success active' %><br><br>
              

              <%= link_to 'Atras', :back, :class => 'btn btn-mini btn-default'%><br>
          </div>
      </td>








      <td style="padding-left: 1%;">
          <table align="right" >
            <tr>
                <td>

                      <h4>Datos de Interno</h4>
                      
                      <p>
                        <strong>Nombre:</strong>
                        <%= @interno.nombre %>
                      </p>
                      <p>
                        <strong>Apellido Paterno:</strong>
                        <%= @interno.apellido1 %>
                      </p>
                      <p>
                        <strong>Apellido Materno:</strong>
                        <%= @interno.apellido2 %>
                      </p>
                      <p>
                        <strong>Sexo:</strong>
                        <%= @interno.sexo %>
                      </p>
                      <p>
                        <strong>CI:</strong>
                        <%= @interno.ci %>
                      </p>
                      <p>
                        <strong>Estado Civil:</strong>
                        <%= @interno.estadoCivil %>
                      </p>
                      <p>
                        <strong>Direccion:</strong>
                        <%= @interno.direccion %>
                      </p>
                      <p>
                        <strong>Zona:</strong>
                        <%= @interno.zona %>
                      </p>
                      <p>
                        <strong>Telefono:</strong>
                        <%= @interno.telefono %>
                      </p>
                      <p>
                        <strong>Fecha de Nacimiento:</strong>
                        <%= @interno.fechaNacimiento.strftime("%d/%m/%Y") %>
                      </p>
                      <p>
                        <strong>Lugar de Nacimiento:</strong>
                        <%= @interno.lugarNacimiento %>
                      </p>
                      <p>
                        <strong>Estudios:</strong>
                        <%= @interno.estudios %>
                      </p>
                      <p>
                        <strong>Profesion:</strong>
                        <%= @interno.profesion %>
                      </p>
                      
                      <p>
                        <strong>Fecha de Ingreso:</strong>
                        <%= @interno.fechaIngreso.strftime("%d/%m/%Y") %>
                      </p>
              </td>




                    <td width="1px">
                    </td>
              


                    <td>
                      <% if @conyugue != nil %>

                         <h4>Datos de Conyugue</h4>
                           
                          <p>
                            <strong>Nombre:</strong>
                            <%= @conyugue.nombre %>
                          </p>

                          <p>
                            <strong>Apellido Paterno:</strong>
                            <%= @conyugue.apellido1 %>
                          </p>

                          <p>
                            <strong>Apellido Materno:</strong>
                            <%= @conyugue.apellido2 %>
                          </p>

                          <p>
                            <strong>CI:</strong>
                            <%= @conyugue.ci %>
                          </p>

                          <p>
                            <strong>Lugar de Nacimiento:</strong>
                            <%= @conyugue.lugarNacimiento %>
                          </p>

                          <p>
                            <strong>Fecha de Nacimiento:</strong>
                            <%= @conyugue.fechaNacimiento.strftime("%d/%m/%Y")%>
                          </p>

                          <p>
                            <strong>Telefono:</strong>
                            <%= @conyugue.telefono %>
                          </p>

                          <p>
                            <strong>Direccion:</strong>
                            <%= @conyugue.direccion %>
                          </p>
                         <br> <br> <br>
                          <br>

                          <br>
                          <br>
                          <br>


                          <br>
                          <br>
                          <br>
                          <br>
                        <% end %>
                    </td>
            </tr>
                    
            <tr>
                    <td bgcolor="#FF0000">-</td>
                    <td bgcolor="red">-</td>
                    <td bgcolor="red">-</td>
            </tr>

            <tr>       
                        <td colspan="3">

                                <br><br><br>
                                <h4>Lista de Hijos del Interno</h4>
                              
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Estado</th>
                                    <th>Sexo</th>
                                    <th>CI</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Lugar de nacimiento</th>
                                    <th colspan="3"></th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <% @hijos.each do |hijo| %>
                                    <tr>
                                      <td><%= hijo.nombre %></td>
                                      <td><%= hijo.apellido1 %></td>
                                      <td><%= hijo.apellido2 %></td>
                                      <td><%= (hijo.estado==true)? "Activo" : "Inactivo" %></td>
                                      
                                      <td><%= hijo.sexo %></td>
                                      
                                      <td><%= hijo.ci %></td>
                                      <td><%= hijo.fechaNacimiento.strftime("%d/%m/%Y") %></td>
                                      <td><%= hijo.lugarNacimiento %></td>
                                      <% link_to 'Ver Hijo', hijo, :class => 'btn btn-mini btn-info active' %>
                                      <td><%= link_to 'Editar Hijo', edit_hijo_path(hijo),  :class => 'btn btn-mini btn-warning active'  %></td>
                                      
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>  
                              
                           </td>
            </tr>
            
            <tr>
                    <td bgcolor="#FF0000">-</td>
                    <td bgcolor="red">-</td>
                    <td bgcolor="red">-</td>
            </tr>

            <tr>
                    <td colspan="3" >
                          <br><br><br>
                
                            <h4>Lista de Conductas</h4>


                            <% @indi=0 %>
                            <% @agre=0 %>
                            <% @robo=0 %>
                            
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  
                                  
                                  <th>Fecha</th>
                                  <th>Tipo de conducta</th>
                                  <th>Descripcion</th>
                                  
                                  <th colspan="3"></th>
                                </tr>
                              </thead>


                              <tbody>
                                <% @conducta.each do |conductum| %>
                                  <tr>
                                    
                                    <td><%= conductum.fecha.strftime("%d/%m/%Y") %></td>
                                    <td><%= conductum.tipoConducta %></td>
                                    <td><%= conductum.descripcion %></td>
                                    

                                    
                                    <td><%= link_to 'Editar Conducta', edit_conductum_path(conductum),  :class => 'btn btn-mini btn-warning active'   %></td>
                                    
                                  </tr>
                                  <% if(conductum.tipoConducta=="Agresion")%>
                                    <% @agre=@agre+1 %>
                                  <%end%>
                                  <% if(conductum.tipoConducta=="Robo")%>
                                    <% @robo=@robo+1 %>
                                  <%end%>
                                  <% if(conductum.tipoConducta=="Indisciplina")%>
                                    <% @indi=@indi+1 %>
                                  <%end%>

                                <% end %>
                              </tbody>
                            </table>
                            <h3>REPORTE DE CONDUCTA</h3>
                            <P><%= @indi %><strong>&nbsp; &nbsp; Casos de Indisciplina  </strong></P>
                            <P><%= @robo %><strong>&nbsp; &nbsp; Casos de Robo </strong></P>
                            <P><%= @agre %><strong>&nbsp; &nbsp; Casos de Agresiones </strong></P>
                                <div> 
                                <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
                                <%= line_chart @conducta.group(:fecha).count%>
                                                         
                                </div>

                                

                          
                            
                            <P><%=%></P>
                            <P><%=%></P>
                      </td>
            </tr>

            <tr>
                                <td bgcolor="#FF0000">-</td>
                                <td bgcolor="red">-</td>
                                <td bgcolor="red">-</td>
            </tr>

            <tr>
                      <td colspan="3">
                              <br><br><br>
               
                                  <h4>Persona de Referencia</h4>
                                  <%if @contact != nil%>
                                      <table  class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th>Nombre</th>
                                            <th>Apellido Paterno</th>
                                            <th>Apellido Materno</th>
                                            <th>CI</th>
                                            <th>Sexo</th>
                                            <th>Telefono</th>
                                            <th>Direccion</th>
                                            <th colspan="3"></th>
                                          </tr>
                                        </thead>

                                        <tbody>
                                            <tr>                     
                                              <td><%= @contact.nombre %></td>
                                              <td><%= @contact.apellido1 %></td>
                                              <td><%= @contact.apellido2 %></td>
                                              <td><%= @contact.ci %></td>
                                              <td><%= @contact.sexo %></td>
                                              <td><%= @contact.telefono %></td>
                                              <td><%= @contact.direccion %></td>
                                              <td><%= link_to 'Editar Referencia', edit_contact_path(@contact), :class => 'btn btn-mini btn-warning active'  %></td>
                                              <td><%= link_to 'Borrar Referencia', @contact, method: :delete, data: { confirm: 'Esta Usted seguro?' } , :class => 'btn btn-mini btn-success active'%></td>
                                            </tr>
                                        </tbody>

                                      </table>
                                    <%end%>
                              </td>
            </tr>
            
            <tr>
                    <td bgcolor="#FF0000">-</td>
                    <td bgcolor="red">-</td>
                    <td bgcolor="red">-</td>
            </tr>


            <tr>
                    <td colspan="3">
                        <br><br><br>
                        <h4>Lista de ordenes Judiciales</h4>
                              <%if @court_orders!=nil%>
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Numero de Orden Judicial</th>
                                    <th>Descripcion</th>
                                    <th>Estado</th>
                                   
                                    <th colspan="3"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @court_orders.each do |court_order| %>
                                    <tr>
                                      <td><%= court_order.numero %></td>
                                      <td><%= court_order.descripcion %></td>
                                      <td><%= (court_order.estado==true)? "Activo" : "Inactivo" %>
                                      </td>
                                      <td><%= link_to 'Editar Orden Judicial', edit_court_order_path(court_order), :class => 'btn btn-mini btn-warning active' %></td> 
                                    </tr>
                                 <% end %>
                                </tbody>
                              </table>
                              <%end%>
                    </td>
            </tr>

            <tr>
                          <td bgcolor="#FF0000" height="10px">-</td>
                          <td bgcolor="red">-</td>
                          <td bgcolor="red">-</td>
            </tr>

            <tr>
                      <td colspan="3">
                      <br><br><br>
                        <h4>Lista de Rehabilitacion</h4>
                        
                        <table  class="table table-striped">
                          <thead>
                          
                            <tr>
                              <th>Enfermedades</th>
                              <th>Causa de internacion</th>
                              <th>Tiempo de consumo</th>
                              <th>Observaciones</th>
                              
                              <th colspan="3"></th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @rehabs.each do |rehab| %>
                              <tr>
                                <td><%= rehab.enfermedades %></td>
                                <td><%= rehab.causaInternacion %></td>
                                <td><%= rehab.tiempoConsumo %></td>
                                <td><%= rehab.observaciones %></td>

                                <td><%= link_to 'Ver Rehabilitacion', rehab, :class => 'btn btn-mini btn-info active' %></td>
                                <td><%= link_to 'Editar Rehabilitacion', edit_rehab_path(rehab), :class => 'btn btn-mini btn-warning active' %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>

                        
                      </td>
            </tr>

            <tr>
              <td bgcolor="#FF0000" height="10px">-</td>
              <td bgcolor="red">-</td>
              <td bgcolor="red">-</td>
            </tr>

            <tr>
              <td colspan="3">
                <br><br><br>
                  <h4>Lista de Historia Clinica</h4>

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                    <% var=1 %>
                      <% @historia_clinicas.each do |historia_clinica| %>
                      <% if var==1 %>
                        <tr>
                       
                          <td><%= link_to 'Ver Historia Clinica', historia_clinica, :class => 'btn btn-mini btn-info active' %></td>
                          <td><% link_to 'Editar Historia Clinica', edit_historia_clinica_path(historia_clinica), :class => 'btn btn-mini btn-warning active' %></td>
                        </tr>
                        <%var+=1%>
                      <% end %>
                      <% end %>
                    </tbody>
                  </table>
              </td>
            </tr>

            <tr>
              <td bgcolor="#FF0000" height="10px">-</td>
              <td bgcolor="red">-</td>
              <td bgcolor="red">-</td>
            </tr>

            <tr>
              <td colspan="3">
                <br><br><br>
                <h4>Lista de Egreso</h4>

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Concepto</th>
                      <th>Monto Bs.</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @total= 0 %>
                    <% @egreso_internos.each do |egreso_interno| %>
                      <tr>
                        <td><%= egreso_interno.concepto %></td>
                        <td><%= egreso_interno.monto %></td>
                        <td><%= link_to 'Ver Egreso Interno', egreso_interno, :class => 'btn btn-mini btn-info active' %></td>
                        <td><%= link_to 'Editar Egreso Interno', edit_egreso_interno_path(egreso_interno), :class => 'btn btn-mini btn-warning active' %></td>
                        <%if egreso_interno.monto != nil%>
                          <% @total += egreso_interno.monto %>
                        <%end%>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <div align="right">
                    <br><strong> TOTAL: <%= @total %> Bs.</strong>
                </div>
              </td>
            </tr>
   </table>
      </td>
    </tr>
</table>

<br><br><br><br><br><br>






