<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaingreso:</strong>
  <%= @interno.fechaIngreso %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @interno.nombres %>
</p>

<p>
  <strong>Apellidopaterno:</strong>
  <%= @interno.apellidoPaterno %>
</p>

<p>
  <strong>Apellidomaterno:</strong>
  <%= @interno.apellidoMaterno %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @interno.ci %>
</p>

<p>
  <strong>Estadocivil:</strong>
  <%= @interno.estadoCivil %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @interno.edad %>
</p>

<p>
  <strong>Conyugue:</strong>
  <%= @interno.conyugue %>
</p>

<p>
  <strong>Numerodhijos:</strong>
  <%= @interno.numeroDHijos %>
</p>

<p>
  <strong>Lugardnacimiento:</strong>
  <%= @interno.lugarDNacimiento %>
</p>

<p>
  <strong>Fechadnacimiento:</strong>
  <%= @interno.fechaDNacimiento %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @interno.direccion %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @interno.zona %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @interno.telefono %>
</p>

<p>
  <strong>Referencias:</strong>
  <%= @interno.referencias %>
</p>

<p>
  <strong>Estudios:</strong>
  <%= @interno.estudios %>
</p>

<p>
  <strong>Profesionuoficio:</strong>
  <%= @interno.profesionUOficio %>
</p>

<p>
  <strong>Enfermedades:</strong>
  <%= @interno.enfermedades %>
</p>

<p>
  <strong>Causainternacion:</strong>
  <%= @interno.causaInternacion %>
</p>

<p>
  <strong>Tiempodconsumo:</strong>
  <%= @interno.tiempoDConsumo %>
</p>

<p>
  <strong>Centroanterior:</strong>
  <%= @interno.centroAnterior %>
</p>

<p>
  <strong>Tiempoestancia:</strong>
  <%= @interno.tiempoEstancia %>
</p>

<p>
  <strong>Motivodretiro:</strong>
  <%= @interno.motivoDRetiro %>
</p>

<p>
  <strong>Ordenjudicial:</strong>
  <%= @interno.ordenJudicial %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @interno.observaciones %>
</p>

<%= link_to 'Edit', edit_interno_path(@interno) %> |
<%= link_to 'Back', internos_path %>
