<p id="notice"><%= notice %></p>

<p>
  <strong>Sexo:</strong>
  <%= @interno.sexo %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @interno.estado %>
</p>

<p>
  <strong>Fecha de ingreso:</strong>
  <%= @interno.fechaIngreso %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @interno.nombre %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @interno.apellido1 %>
</p>

<p>
  <strong>Apellido Materno:</strong>
  <%= @interno.apellido2 %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @interno.ci %>
</p>

<p>
  <strong>Estadocivil:</strong>
  <%= @interno.estadoCivil %>
</p>

<p>
  <strong>Lugar de nacimiento:</strong>
  <%= @interno.lugarNacimiento %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @interno.fechaNacimiento %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @interno.direccion %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @interno.zona %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @interno.telefono %>
</p>

<p>
  <strong>Estudios:</strong>
  <%= @interno.estudios %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @interno.profesion %>
</p>

<p>
  <strong>Oficio:</strong>
  <%= @interno.oficio %>
</p>

<%= link_to 'Edit', edit_interno_path(@interno) %> |
<%= link_to 'Back', internos_path %>
