<p id="notice"><%= notice %></p>
<h2>VER INTERNO</h2>


<table>
  <tr>
    <td>

      <h4>Datos de Interno</h4>
      
      <p>
        <strong>Nombre:</strong>
        <%= @interno.nombre %>
      </p>

      <p>
        <strong>Apellido Paterno:</strong>
        <%= @interno.apellido1 %>
      </p>

      <p>
        <strong>Apellido Materno:</strong>
        <%= @interno.apellido2 %>
      </p>

      <p>
        <strong>Sexo:</strong>
        <%= @interno.sexo %>
      </p>

      <p>
        <strong>CI:</strong>
        <%= @interno.ci %>
      </p>

      <p>
        <strong>Estado Civil:</strong>
        <%= @interno.estadoCivil %>
      </p>

      <p>
        <strong>Direccion:</strong>
        <%= @interno.direccion %>
      </p>

      <p>
        <strong>Zona:</strong>
        <%= @interno.zona %>
      </p>

      <p>
        <strong>Telefono:</strong>
        <%= @interno.telefono %>
      </p>

      <p>
        <strong>Fecha de Nacimiento:</strong>
        <%= @interno.fechaNacimiento %>
      </p>

      <p>
        <strong>Lugar de Nacimiento:</strong>
        <%= @interno.lugarNacimiento %>
      </p>

      <p>
        <strong>Estudios:</strong>
        <%= @interno.estudios %>
      </p>

      <p>
        <strong>Profesion:</strong>
        <%= @interno.profesion %>
      </p>

      <p>
        <strong>Oficio:</strong>
        <%= @interno.oficio %>
      </p>

      <p>
        <strong>Fecha de Ingreso:</strong>
        <%= @interno.fechaIngreso %>
      </p>
    </td>

    <td width="200px">

    </td>
    
    <td>
      <% if @conyugue != nil %>

         <h4>Datos de Conyugue</h4>
           <p>
            <strong>Estado:</strong>
            <%= @conyugue.estado %>
          </p>

          <p>
            <strong>Nombre:</strong>
            <%= @conyugue.nombre %>
          </p>

          <p>
            <strong>Apellido Paterno:</strong>
            <%= @conyugue.apellido1 %>
          </p>

          <p>
            <strong>Apellido Materno:</strong>
            <%= @conyugue.apellido2 %>
          </p>

          <p>
            <strong>CI:</strong>
            <%= @conyugue.ci %>
          </p>

          <p>
            <strong>Lugar de Nacimiento:</strong>
            <%= @conyugue.lugarNacimiento %>
          </p>

          <p>
            <strong>Fecha de Nacimiento:</strong>
            <%= @conyugue.fechaNacimiento %>
          </p>

          <p>
            <strong>Telefono:</strong>
            <%= @conyugue.telefono %>
          </p>

          <p>
            <strong>Direccion:</strong>
            <%= @conyugue.direccion %>
          </p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <% end %>
      </td>
    </tr>
</table>


  <br>
  <h4>Lista de Hijos del Interno</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Estado</th>
      <th>Sexo</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>CI</th>
      <th>Fecha de nacimiento</th>
      <th>Lugar de nacimiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hijos.each do |hijo| %>
      <tr>
        <td><%= hijo.estado %></td>
        <td><%= hijo.sexo %></td>
        <td><%= hijo.nombre %></td>
        <td><%= hijo.apellido1 %></td>
        <td><%= hijo.apellido2 %></td>
        <td><%= hijo.ci %></td>
        <td><%= hijo.fechaNacimiento.strftime("%d, %B, %Y") %></td>
        <td><%= hijo.lugarNacimiento %></td>
        <td><%= link_to 'Ver Hijo', hijo, :class => 'btn btn-mini btn-info active' %></td>
        <td><%= link_to 'Editar Hijo', edit_hijo_path(hijo),  :class => 'btn btn-mini btn-warning active'  %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>  

<br>

<% if @conyugue== nil %>
  <%= link_to 'Registrar conyugue', pareja_path(@interno.id),:class => 'btn btn-mini btn-success active' %>
  &nbsp &nbsp &nbsp
<% end %>


<% if @conyugue != nil %> 
    <%= link_to 'Editar Conyugue', edit_conyugue_path(@conyugue.id), :class => 'btn btn-mini btn-warning active'    %>
    &nbsp &nbsp &nbsp
<% end %>

<% if @hijo== nil %>
  <%= link_to 'Registrar Hijo', fis_path(@interno.id),:class => 'btn btn-mini btn-success active' %>
  <br><br>
<% end %>

<%= link_to 'Registrar Conducta', memo_path(@interno.id),:class => 'btn btn-mini btn-success active' %>
  &nbsp &nbsp &nbsp

<% if @contact== nil %>
  <%= link_to 'Registrar Referencia', contacto_path(@interno.id),:class => 'btn btn-mini btn-success active' %>
  &nbsp &nbsp &nbsp
<% end %>



<%= link_to 'Atras', internos_path, :class => 'btn btn-mini btn-default'  %>



