<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @city.nombre %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @city.estado %>
</p>

<%= link_to 'Editar', edit_city_path(@city) %> |
<%= link_to 'Atras', cities_path %>
