<%= form_for(@rehab) do |f| %>
  <% if @rehab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rehab.errors.count, "error") %> prohibited this rehab from being saved:</h2>

      <ul>
      <% @rehab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<input type="hidden" name="interno_id" value="<%= @id %>" >

  <div class="field">
    <%= f.label :enfermedades %><br>
    <%= f.text_area :enfermedades %>
  </div>
  <div class="field">
    <%= f.label :causaInternacion, 'Causa de Internacion (*)' %><br>
    <%= f.text_area :causaInternacion %>
  </div>
  <div class="field">
    <%= f.label :tiempoConsumo, 'Tiempo de Consumo en meses (*)' %><br>
    <%= f.number_field :tiempoConsumo %>
  </div>
  <div class="field">
    <%= f.label :centroAnterior, 'Centro Anterior' %><br>
    <%= f.text_field :centroAnterior %>
  </div>
  <div class="field">
    <%= f.label :nombreCentre, 'Nombre del Centro' %><br>
    <%= f.text_field :nombreCentre %>
  </div>
  <div class="field">
    <%= f.label :tiempoEstancia,'Tiempo de Estancia en meses' %><br>
    <%= f.number_field :tiempoEstancia %>
  </div>
  <div class="field">
    <%= f.label :motivoRetiro, 'Motivo por el cual se retiro' %><br>
    <%= f.text_area :motivoRetiro %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br>
    <%= f.text_field :observaciones %>
  </div>
 
  <div class="actions">
          <%= f.submit (@rehab.new_record? ? 'Registrar Rehabilitacion' : 'Guardar Rehabilitacion') , :class => "btn btn-mini btn-success" %>
  </div>
<% end %>
