<h1>Lista de rehabilitacion</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Enfermedades</th>
      <th>Causa de internacion</th>
      <th>Tiempo de consumo</th>
      <th>Centro anterior</th>
      <th>Nombre de centro</th>
      <th>Tiempo de estancia</th>
      <th>Motivo de retiro</th>
      <th>Observaciones</th>
      <th>Interno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rehabs.each do |rehab| %>
      <tr>
        <td><%= rehab.enfermedades %></td>
        <td><%= rehab.causaInternacion %></td>
        <td><%= rehab.tiempoConsumo %></td>
        <td><%= rehab.centroAnterior %></td>
        <td><%= rehab.nombreCentre %></td>
        <td><%= rehab.tiempoEstancia %></td>
        <td><%= rehab.motivoRetiro %></td>
        <td><%= rehab.observaciones %></td>
        <td><%= rehab.interno_id %></td>
        <td><%= link_to 'Show', rehab %></td>
        <td><%= link_to 'Edit', edit_rehab_path(rehab) %></td>
        <td><%= link_to 'Destroy', rehab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% link_to 'Nueva  Rehabilitacion', new_rehab_path %>

<%= link_to 'Atras', rehabs_path, :class => 'btn btn-mini btn-default'  %>
