<p id="notice"><%= notice %></p>

<p>
  <strong>Enfermedades:</strong>
  <%= @rehab.enfermedades %>
</p>

<p>
  <strong>Causa de internacion:</strong>
  <%= @rehab.causaInternacion %>
</p>

<p>
  <strong>Tiempo de consumo:</strong>
  <%= @rehab.tiempoConsumo %>
</p>

<p>
  <strong>Centro anterior:</strong>
  <%= @rehab.centroAnterior %>
</p>



<p>
  <strong>Tiempo de estancia:</strong>
  <%= @rehab.tiempoEstancia %>
</p>

<p>
  <strong>Motivo de retiro:</strong>
  <%= @rehab.motivoRetiro %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @rehab.observaciones %>
</p>



<% link_to 'Editar', edit_rehab_path(@rehab) %> 

<% link_to 'Atras', :back, :class => 'btn btn-mini btn-default'  %>
<a class='btn btn-mini btn-default' href=<%="/internos/"%>+<%=@rehab.interno_id%> >Retornar a interno</a>
</td>
</tr>
</table>