<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %>, corrija los siguientes errores:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code, 'Código *' %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name, 'Nombre *' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :unity, 'Unidad *'%><br>
    <%= f.text_field :unity %>
  <div class="field">
    <%= f.label :description, 'Descripción *' %><br>
    <%= f.text_area :description %>
  </div>
  <br><br>
  <div>
    <label>* Los campos con asterisco, son obligatorios. </label>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit (@product.new_record? ? 'Registrar Producto' : 'Editar Producto') , :class => "btn btn-mini btn-success" %>
  </div>
<% end %>
