<h1>Lista de Productos</h1>

  <div align="right">
    <%= form_tag({:controller => "products", :action => "index"}, :method => :get) do %>
      Buscar Producto: &nbsp;&nbsp;&nbsp; <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Nombre de producto", :name => 'palabra' %> &nbsp;&nbsp;&nbsp;
      <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
  </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estado</th>
      <!--th colspan="3"></th-->
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.state %></td>
        <td><%= link_to 'Ver', product, :class => 'btn btn-mini btn-info active' %></td>
        <td><%= link_to 'Editar', edit_product_path(product), :class => 'btn btn-mini btn-warning active' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<%= link_to 'Registrar Producto', new_product_path, :class => 'btn btn-mini btn-success active' %>

