<h2>Lista de Productos</h2>

  <div align="right">
    <%= form_tag({:controller => "products", :action => "index"}, :method => :get) do %>
      Buscar Producto: &nbsp;&nbsp;&nbsp; <%= text_field_tag "searchbox", params[:searchbox], :placeholder => "Nombre de producto", :name => 'palabra' %> &nbsp;&nbsp;&nbsp;
      <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
  </div><br>
  <div id="separacion"></div><br>
  <div align="right">
    <%= form_tag({:controller => "products", :action => "index"}, :method => :get) do %>
      Buscar producto por Estado: <%= select_tag "estado", options_for_select(['', 'Activo', 'Inactivo']) %>
      <%= submit_tag "Filtrar", :name => nil, :class => 'btn btn-mini' %>
    <% end %>
  </div><br><br>
  <div align="right">
    <%= link_to 'Registrar Producto', new_product_path, :class => 'btn btn-mini btn-success active' %>
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estado</th>
      <!--th colspan="3"></th-->
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td width="10%"><%= product.name %></td>
        <td width="10%"><%= product.state %></td>
        <td width="10%" align="left"><%= link_to 'Ver Producto', product, :class => 'btn btn-mini btn-info active' %></td>
        <td width="10%" align="left"><%= link_to 'Editar Producto', edit_product_path(product), :class => 'btn btn-mini btn-warning active' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @products, :previous_label => '&laquo;Anterior', :next_label => 'Siguiente&raquo;' %>

