<!DOCTYPE html>
<html>
<head>
  <title>REMAR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/ct-paper.css">
  <style type="text/css">
	#pie_izq {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
	#pie_der {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 100px;
    margin: 0 auto;
    background-color: #000;
}
	
  </style>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<!-- header -->
		<header>
			<div class="navbar navbar-inverse navbar-static-top" role="navigation">
	            <div class="container" style="height: 50px;">
	                <div class="navbar-header">
	                    <a href="/"> <img src="/images/logo_remar.png" width="80"></a>
	                </div>
	                <div class="navbar-text navbar-right">
	                	<!--div class="header clearfix"-->
	                	<!-- <ul class="nav navbar-nav">
	                		<li class="dropdown">
	 							<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
									Internos
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="/internos">Lista de Internos</a></li>
									<li><a href="/internos/new">Registrar Interno</a></li>
								</ul>
							</li>
							<li class="dropdown">
	 							<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
									Productos
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="/products">Lista de Productos</a></li>
									<li><a href="/products/new">Registrar Producto</a></li>
									<li class="dropdown-header">Produccion</li>
									<li><a href="/produccions">Lista de Producciones</a></li>
									<li><a href="/produccions/new">Registrar Produccion</a></li>
								</ul>
							</li>
							<li class="dropdown">
	 							<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
									Ventas
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="/entregaprods?&page=1">Ventas del dia</a></li>
									<li><a href="/entregaprods/new">Crear Entrega Producto</a></li>
									<li class="dropdown-header">Voluntarios</li>
									<li><a href="/voluntarios">Lista de Voluntarios</a></li>
									<li><a href="/voluntarios/new">Registrar Voluntario</a></li>
								</ul>
							</li>
							<li class="dropdown">
	 							<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
									Donativos
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="/recepcion_donativos">Lista de Donativos</a></li>
									<li><a href="/recepcion_donativos/new">Ingresar Donativo</a></li>
									<li class="dropdown-header">Citas</li>
									<li><a href="/cita">Citas del dia</a></li>
									<li><a href="/cita/new">Agregar Cita</a></li>
								</ul>
							</li>
							<li class="dropdown">
	 							<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
									I/E
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li class="dropdown-header">Ingresos</li>
									<li><a href="/ingresos">Lista de Ingresos</a></li>
									<li><a href="/ingresos/new">Registrar Ingreso</a></li>
									<li class="dropdown-header">Egresos</li>
									<li><a href="/egresos">Lista de Egresos</a></li>
									<li><a href="/egresos/new">Registrar Egreso</a></li>
								</ul>
							</li>
	                	</ul> -->
					</div>
	            </div>
	        </div>
		</header>

		<div class="container">
			<% flash.each do |key,value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>

			<%= yield %>
			<br><br><br>
		</div>
	</div>
</body>

<div id="pie_pagina">
		<div class="row">
			<div class="col-md-4">
				<font color="white"><strong>Elaborador por:</strong></font>
			</div>
			<div class="col-md-4">
				<font color="white">
					<p>Howard Castillo Balboa</p>
					<p>Lesly Méndez Cruz</p>
					<p>Guido Vildozo Méndez</p>
				</font>
			</div>
			<div class="col-md-4">
				<img src="/images/logo_cato.png" alt="rss feed" width="70"/>
			</div>
		</div>
</div>
</html>